@import "../../assets/styles/variables";

app-settings {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    align-items: center;
    box-sizing: border-box;

    .settings {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding-top: 24px;
            overflow: auto;
        }
    }
}
