<div class="availability">
  <app-header-shifts [headerDescription]="headerDescription"
                     class="global__app-header availability__app-header"
                     [sideBar]="true"
                     [description]="true"
                     (outputActionMethod)="showSideBar($event)">
  </app-header-shifts>
  <div class="availability__content">
    <mat-tab-group (selectedTabChange)="selectedTabChange($event)"
                   [selectedIndex]=tabIndex>
      <div *ngFor="let tab of dataService.indexTABS_AVAILABILITY; let l = index">
        <mat-tab label={{tab}}
                 position=0
                 class="mat-tab-label">
          <ng-template matTabContent>
            <app-small-list class="global__small-list"
                            [schedule]="true"
                            [lists]="listTimeOff"
                            [spinner]="spinner"
                            (outputActionMethod)="showAvailability($event)">
            </app-small-list>
            <button mat-fab class="availability__button"
                    (click)="addNewAvailability()">
              <i class="material-icons">add</i>
            </button>
          </ng-template>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
</div>
