.header {
    // background-image: url('../img/header--img__mobile.jpg');
    background-repeat: no-repeat;
    color: $header--text-col;
    font-family: montserratbold, sans-serif;
    margin: 0 auto;
    max-width: 320px;
    padding-top: 21px;
    text-align: center;

}
