body{
    background-color: #fff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.main{
    width: 909px;
    margin: 0 auto;
    overflow: hidden;
}

/*header*/

.main-header{
    width: 902px;
    height: 32px;
    padding-left: 7px;
    margin-top: 18px;

}

.main-header div{
    display: inline-block;
    vertical-align: middle;
}

.main-header-img{
    position: relative;
    width: 22px;
    height: 22px;
    background: #0c3357;
    background: -moz-linear-gradient(top,  #0c3357 0%, #236988 100%);
    background: -webkit-linear-gradient(top,  #0c3357 0%,#236988 100%);
    background: linear-gradient(to bottom,  #0c3357 0%,#236988 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#236988',GradientType=0 );
    border-radius: 22px;

}

.main-header-img img{
    position: absolute;
    top: 1px;
    left: 3px;
}

.main-header-phone{
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
}

.main-header-form{
    width: 495px;
    height: 25px;
    margin-left: 12px;
    background: #1f6787;
    background: -moz-linear-gradient(top,  #1f6787 0%, #0c3357 100%);
    background: -webkit-linear-gradient(top,  #1f6787 0%,#0c3357 100%);
    background: linear-gradient(to bottom,  #1f6787 0%,#0c3357 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 );
    box-shadow: 0 0 5px;
    border-radius: 1px;
}

.main-header-form-man{
    display: block;
    float: left;
    margin-top: 4px;
    margin-left: 7px;
}

.main-header-form-login{
    display: block;
    float: left;
    width: 108px;
    height: 12px;
    margin-top: 3px;
    margin-left: 4px;
    padding-left: 3px;
    border: 1px solid #82949c;
    border-radius: 2px;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif;
}

.main-header-form-password{
    display: block;
    float: left;
    width: 110px;
    height: 13px;
    margin-top: 2px;
    margin-left: 7px;
    padding-left: 3px;
    border: 1px solid #82949c;
    border-radius: 2px;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif;
}

.main-header-form-submit-bot{
    display: none;
}

.main-header-form-submit{
    display: block;
    float: left;
    margin-top: 6px;
    margin-left: 7px;
    padding-right: 5px;
    border-right: 1px solid #d2d8dd;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #fff;
    cursor: pointer;
}

.main-header-form-reg{
    display: block;
    float: left;
    margin-top: 6px;
    margin-left: 4px;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.main-header-form-fogot{
    display: block;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;

}

.main-header-hll{
    width: 76px;
    height: 19px;
    margin-left: 13px;
    margin-top: -4px;
    box-shadow: 0 0 5px;
    border-radius: 9px;
}

.main-header-hll a{
    margin-left: 9px;
}

.main-foto{
    margin-bottom: 3px;
    margin-top: 3px;
}

.main-nav{
    width: 781px;
    height: 30px;
    background: #4d5663;
    background: -moz-linear-gradient(top,  #4d5663 1%, #000000 100%);
    background: -webkit-linear-gradient(top,  #4d5663 1%,#000000 100%);
    background: linear-gradient(to bottom,  #4d5663 1%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#000000',GradientType=0 );
    border: 1px solid #0a1030;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    padding-left: 124px;
    padding-right: 4px;

}

.main-nav-box,
.main-nav-customs{
    display: inline-block;
    line-height: 32px;
}

.main-nav-list{
        float: left;
        padding-left: 15px;
        padding-right: 18px;
        height: 26px;

}

.main-nav-list:hover{
    background: #1f6787;
    background: -moz-linear-gradient(top,  #1f6787 1%, #0c3357 99%);
    background: -webkit-linear-gradient(top,  #1f6787 1%,#0c3357 99%);
    background: linear-gradient(to bottom,  #1f6787 1%,#0c3357 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 );
    border-radius: 17px;
     transition: 0.75s linear;

}

.main-nav-list:hover a{
    color: #fff;

}

.main-nav-customs-trash img:hover {
    transform:  rotate(15deg);
}

.main-nav-list1 {
    padding-left: 21px;
}

.main-nav-list3 {
    padding-left: 10px;
}

.main-nav-list4 {
    padding-left: 11px;
}

.main-nav-list5 {
    padding-left: 6px;
}

.main-nav-list a{
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #b1bcc0;
    }

.main-nav-customs{
    float: right;
    margin-right: -4px;
}

.main-nav-customs-trash{
    float: left;
    display: block;
    margin-top: -1px;
    box-sizing: border-box;
}

.main-nav-customs-trash-img{
    display: block;
    float: left;
    margin-top: 4px;
}

.main-nav-customs-trash p{
    float: right;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #8a9296;
    margin-left: 6px;
}

.main-nav-customs-trash span{
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #0d5a8f;

}

.main-nav-customs-trash-span1{
    margin-right: 3px;

}

.main-nav-customs-trash-span2{
    margin-right: 3px;

}

.main-nav-customs-trash-span3{
    margin-right: 9px;
    margin-left: 10px;
}

.main-nav-customs-trash-span4{
    margin-right: 15px;
    margin-left: 3px;
}

.main-foundavto{
    width: 414px;
    height: 134px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #9c9c9d;
    box-shadow: 0 4px 6px #686868;
    border-radius: 15px;
    margin: 14px 0 12px 5px;
    padding-left: 17px;
    padding-right: 13px;

}

.main-foundavto-title{
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    color: #154468;
    text-align: center;
    display: block;
    margin-bottom: -9px;
    letter-spacing: 1.2px;
    margin-right: 10px;
}

.main-foundavto-box1{
    width: 177px;
    float: left;
}

.main-foundavto-box2{
    width: 177px;
    float: right;
}

.main-foundavto-box-title{
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: #154468;
    margin-bottom: 12px;
    display: block;
    margin-top: 1px;
    margin-left: 3px;
    letter-spacing: 1.3px;
}

.main-foundavto-box-title-box2{
    float: right;
    margin-right: 4px;
    margin-top: -1px;
}

.main-foundavto-select{
    width: 100px;
    height: 16px;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
     text-indent: 0.01px;
     text-overflow: '';
     /* for IE */
     -ms-appearance: none;
     appearance: none!important;
     border: none;
     border-top: 1px solid #949494;
     border-left: 1px solid #949494;
     box-shadow: inset 1px 1px 3px #b0b0b0;
     background-image: url('../img/arrow.png');
     background-repeat: no-repeat;
     background-position: right center;
     margin-bottom: 5px;
     float: right;
    cursor: pointer;
}

.main-foundavto-select1{
    margin-top: -6px;
}

.main-foundavto-select2{
    margin-top: 1px;
}

.main-foundavto-model-word1{
    letter-spacing: 0.4px;
}

.main-foundavto-model-word2{
    letter-spacing: 0.4px;
}

.main-foundavto-select3{
    width: 58px;
    margin-right: 42px;
    margin-top: 1px;
}

.main-foundavto-year-word1{
    letter-spacing: 0.4px;
}

.main-foundavto-year-word2{
    letter-spacing: 0.9px;
}

.main-foundavto-select4{
    margin-top: 1px;
}

.main-foundavto-kompl-word1{
    letter-spacing: 0.4px;
}

.main-foundavto-select5{
    width: 102px;
    margin-top: -6px;
}

.main-foundavto-select6{
    width: 102px;
    margin-top: 1px;
}

.main-foundavto-type-word1{
        letter-spacing: 0.4px;
}

.main-foundavto-type-word2{
        letter-spacing: 0.8px;
}

.main-foundavto-select7{
    width: 58px;
    margin-right: 44px;
    margin-top: 1px;
}

.main-foundavto-tire-year-word1{
        letter-spacing: 0.4px;
}

.main-foundavto-tire-year-word2{
        letter-spacing: 0.8px;
}

.main-foundavto-select8{
    width: 102px;
    margin-top: 1px;
}

.main-foundavto-tire-kompl-word1{
        letter-spacing: 0.2px;
}

.main-foundavto-text{
    display: block;
    float: left;
    line-height: 7px;
    margin-bottom: 5px;
    letter-spacing: 0.2px;
}

.main-foundavto-select::-ms-expand {
  display: none;
}

.main-foundavto-word1{
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #000;
}

.main-foundavto-word2{
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #77858b;
}

.main-foundavto-button{
    display: none;
}

.main-found-search{
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #154467;
    float: right;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 8px;
}

.main-foundtire{
    box-sizing: border-box;
    width: 192px;
    height: 135px;
    float: left;
    border: 1px solid #9c9c9d;
    box-shadow: 0 4px 6px #686868;
    border-radius: 15px;
    margin: 12px 0 12px 15px;
    padding-left: 6px;
    padding-right: 13px;


}

.main-foundtire-title{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #114165;
    margin-left: 4px;
    margin-top: 3px;
    letter-spacing: 1px;
    display: block;
}

.main-foundtire-select{
    box-sizing: border-box;
    width: 50px;
    height: 17px;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
     text-indent: 0.01px;
     text-overflow: '';
     /* for IE */
     -ms-appearance: none;
     appearance: none!important;
     border: none;
     border-top: 1px solid #949494;
     border-left: 1px solid #949494;
     box-shadow: inset 1px 1px 3px #b0b0b0;
     background-image: url(../img/arrow.png);
     background-repeat: no-repeat;
     background-position: right center;
     margin-bottom: 5px;
     float: right;
    cursor: pointer;
}

.main-foundtire-text{
    display: block;
    float: left;
    margin-bottom: 5px;
    letter-spacing: 0.2px;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 10px;
    margin-top: 16px;
    margin-left: 6px;
}

.main-foundtire-select1{
    margin-top: 7px;
    width: 53px;
}

.main-foundtire-select2{
    margin-top: 8px;
    width: 52px;
}

.main-foundtire-slesh{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 9px;
}

.main-foundtire-select3{
    margin-right: 74px;
    margin-top: 1px;
    width: 46px;
}

.main-foundtire-r-word1{
    margin-top: 5px;
    margin-left: 38px;
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.main-foundtire-season-word1{
    margin-top: 1px;
    margin-left: 7px;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 10px;
    color: #000;
}

.main-foundtire-season-summer{
    float: right;
    margin-right: 80px;
    margin-top: -1px;

}


.main-foundtire-season-checkbox-span{
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 12px;
    color: #000;
    display: inline-block;
    vertical-align: middle;

}

.main-foundtire-season-summer-span{
    margin-left: -3px;
    margin-top: -2px;
}

.main-foundtire-season-winter-span{
    margin-top: -2px;
    margin-left: -4px;
}

.main-foundtire-season-all-span{
    margin-left: -3px;
    margin-top: -2px;
}

.main-foundtire-season-checkbox{
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}



.main-foundtire-season-winter{
    float: right;
    margin-right: 79px;
    margin-top: -6px;

}

.main-foundtire-season-all{
    float: right;
    margin-right: 69px;
    margin-top: -5px;;
}

.main-foundtire-search{
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #154467;
    float: right;
    cursor: pointer;
    margin-top: -6px;
    margin-right: 6px;

}
.main-founddisk{
    width: 268px;
    height: 136px;
    float: right;
    box-sizing: border-box;
    border: 1px solid #9c9c9d;
    box-shadow: 0 4px 6px #686868;
    border-radius: 16px;
    margin: 8px 5px 12px 0;
    padding-left: 8px;
    padding-right: 13px;
}

.main-founddisk-title{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #114165;
    margin-top: 3px;
    letter-spacing: 2px;
    display: block;

}

.main-founddisk-column1{
    box-sizing: border-box;
    width: 168px;
    height: 106px;
    border-right: 1px solid #bdc6ca;
    float: left;
}

.main-founddisk-column1-text{
    float: left;
    margin-left: 7px;
    margin-top: 4px;
    letter-spacing: 0.7px;
}

.main-founddisk-column1-word1{
    font-size: 10px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #000;
}

.main-founddisk-column1-word2{
    font-size: 9px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #77858b;
}

.main-founddisk-column1-select1{
    margin-right: 11px;
    margin-top: 5px;
    width: 58px;
    height: 17px;
    font-size: 11px;
    font-family: "Arial", sans-serif;
    color: #000;
    letter-spacing: 1px;
    padding-left: 2px;
}

.main-founddisk-column1-text-2{
    float: left;
    margin-left: 7px;
    margin-top: -7px;
    letter-spacing: 0.7px;
}

.main-founddisk-column1-word2-2{
    display: block;
    margin-top: -1px;
}


.main-founddisk-column1-select2{
    margin-right: 19px;
    margin-top: 9px;
    width: 50px;
    height: 17px;
    font-size: 11px;
    font-family: "Arial", sans-serif;
    color: #000;
    letter-spacing: 1px;
    padding-left: 4px;
}

.main-founddisk-column1-text-3{
    float: left;
    margin-left: 7px;
    margin-top: -8px;
    letter-spacing: 0.7px;
}

.main-founddisk-column1-word2-3{
    display: block;
    margin-top: -1px;
    line-height: 10px;
}

.main-founddisk-column1-select3{
    margin-right: 11px;
    margin-top: 10px;
    width: 58px;
    height: 17px;
    font-size: 11px;
    font-family: "Arial", sans-serif;
    color: #000;
    letter-spacing: 1px;
    padding-left: 2px;
}

.main-founddisk-column2{
    box-sizing: border-box;
    width: 75px;
    height: 106px;
    float: right;
}

.main-founddisk-column2-text{
    float: left;
    margin-left: 7px;
}

.main-founddisk-column2-word1{
    margin-top: 6px;
    letter-spacing: 1.2px;
    display: block;
    text-transform: uppercase;
    font-size: 9px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #000;
}

.main-founddisk-column2-word2{
    display: block;
    font-size: 8px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #77858b;
    letter-spacing: 0.6px;
}

.main-founddisk-column2-select1{
    margin-right: 8px;
    margin-top: 3px;
    width: 58px;
    height: 17px;
    font-size: 11px;
    font-family: "Arial", sans-serif;
    color: #000;
    letter-spacing: 1px;
    padding-left: 2px;
}



.main-founddisk-column2-word1-2{
    margin-top: 3px;
    margin-left: 1px;
    letter-spacing: 1.2px;
    display: block;
    text-transform: uppercase;
    font-size: 9px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #000;
}

.main-founddisk-column2-word2-2{
    display: block;
    font-size: 8px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #77858b;
    letter-spacing: 0.6px;
}

.main-founddisk-column2-select2{
    margin-right: 8px;
    margin-top: 3px;
    width: 58px;
    height: 17px;
    font-size: 11px;
    font-family: "Arial", sans-serif;
    color: #000;
    letter-spacing: 1px;
    padding-left: 2px;
}

.main-founddisk-search{
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #154467;
    float: right;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 5px;
    display: block;
    letter-spacing: 0.3px;
}

.fon-leftColumn {
    width: 100%;
    float: left;
    position: relative;
    right: 57.8%;
    margin-top: 4px;
}

.fon-centerColumn {
    width: 100%;
    float: left;
    position: relative;
    right: 21.1%;
}

.fon-rightColumn {
    width: 100%;
    float: left;
}

.leftColumn {
    width: 21.1%;
    float: left;
    overflow: hidden;
    position:relative;
    left:78.9%;
    margin-top: -4px;

}

.leftColumn-header{
    width: 179px;
    height: 25px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 6px;
    border-radius: 12px;
}

.leftColumn-header-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 22px;
    height: 21px;
    margin-top: 2px;
    margin-left: 1px;
    float: left;
}

.leftColumn-header-img img{
    position: absolute;
    top: 3px;
    left: 5px;
}

.leftColumn-header-span{
    display: block;
    color: #114165;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: right;
    margin-top: 7px;
    margin-right: 5px;
    letter-spacing: -0.1px;
}

.leftColumn-box1{
    width: 148px;
    height: 26px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 13px;
    margin-left: 1px;
    border-radius: 12px;
}

.leftColumn-box1-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 22px;
    height: 21px;
    margin-top: 3px;
    margin-left: 4px;
    float: left;
}

.leftColumn-box1-img span{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 12px;
    height: 12px;
}

.leftColumn-box1-span{
    display: block;
    vertical-align: middle;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 8px;
    margin-left: 2px;
}

.leftColumn-box{
    margin-left: 36px;
    color: #465961;
}

.leftColumn-box-li-span{
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    letter-spacing: -0.2px;
    line-height: 1.95;
    display: block;
}

.leftColumn-box-li-span::before{
    content: "";
    border-style: solid;
    border-width: 2px;
    border-color: #79878d;
    border-radius: 50%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    display: block;
    float: left;
    margin-top: 9px;
    margin-right: 4px;

}


.leftColumn-box-li-span:hover::before{
    border-color: #0c3256;
}


.leftColumn-box-li-span:hover {
    color: #0c3256;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.1px;
    margin-bottom: -2.1px;


}

.leftColumn-box2{
position: absolute;
top: 75px;
left: 0px;
}

.leftColumn-box4{
top: 202px;
position: absolute;
}

.leftColumn-box6{
margin-top: 1px;
}

.leftColumn-box3{
    width: 147px;
    height: 27px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 101px;
    border-radius: 12px;
    margin-left: 2px;
    display: block;
}

.leftColumn-box3-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 22px;
    height: 21px;
    margin-top: 2px;
    margin-left: 3px;
    float: left;
}

.leftColumn-box3-img span{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    display: block;
}

.leftColumn-box3-span{
    display: block;
    vertical-align: middle;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 6px;
    margin-left: 3px;
}


.leftColumn-box5{
    width: 147px;
    height: 26px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 97px;
    margin-left: 2px;
    border-radius: 12px;
}

.leftColumn-box5-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 22px;
    height: 21px;
    margin-top: 3px;
    margin-left: 2px;
    float: left;
}

.leftColumn-box5-img span{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 12px;
    height: 12px;
}

.leftColumn-box5-span{
    display: block;
    vertical-align: middle;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
}

.centerColumn {
    width: 57.8%;
    float: left;
    overflow: hidden;
    position:relative;
    left:78.9%;
    border-radius: 3px;
    background: #e5e7e8;
    background: -moz-linear-gradient(top,  #e5e7e8 0%, #93a7b0 100%);
    background: -webkit-linear-gradient(top,  #e5e7e8 0%,#93a7b0 100%);
    background: linear-gradient(to bottom,  #e5e7e8 0%,#93a7b0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0',GradientType=0 );
    padding-bottom: 24px;

}

.centerColumn-main-line{
    margin-left: 20px;
}

.centerColumn-main-line2{
    margin-top: 5px;}


.centerColumn-main-line-box{
    width: 144px;
    height: 177px;
    box-sizing: border-box;
    margin: 13px 24px 6px 0px;
    float: left;
    overflow: hidden;
    text-align: center;

}

.centerColumn-main-line-box-a{
    display: block;
}

.centerColumn-main-line-box-span1{
    color: #206988;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", sans-serif;
}

.centerColumn-main-line-box-span2{
    color: #1f2528;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    display: block;
    letter-spacing: -0.1px
}

.centerColumn-main-line-box-span3{
    color: #114165;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin-top: -13px;
    margin-left: 8px;
    letter-spacing: 1px;
}

.centerColumn-main-line-box-span4{
    font-size: 12px;
}

.centerColumn-main-line-box-span-img{
    display: block;
    box-sizing: border-box;
    width: 139px;
    height: 130px;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    background-color: #fff;
    margin-top: -16px;
    margin-left: 1px;
    padding-top: 5px;
}

.centerColumn-main-line-box2-span1{
        margin-left: 5px;
}

.centerColumn-main-line-box2-span2{
    margin-left: 1px;
}

.centerColumn-main-line-box2-span3{
    letter-spacing: 1px;
    margin-left: 7px;
    margin-top: -12px;
}

.centerColumn-main-line-box2-span4{
    letter-spacing: 0px;
    margin-left: 6px;
}

.centerColumn-main-line-box3-span1{
        margin-left: 5px;
}

.centerColumn-main-line-box3-span2{
        margin-left: -3px;
}

.centerColumn-main-line-box3-span3{
    letter-spacing: 1px;
    margin-left: 5px;
    margin-top: -13px;
}

.centerColumn-main-line-box3-span4{
    letter-spacing: 0px;
    margin-left: 3px;
}

.centerColumn-main-line3{
    margin-top: 9px;
}



.rightColumn {
    width: 21.1%;
    float: left;
    overflow: hidden;
    position:relative;
    left:78.9%;
    margin-top: -4px;
}

.rightColumn-header{
    width: 180px;
    height: 25px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 4px;
    margin-left: 9px;
    border-radius: 12px;

}

.rightColumn-header-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 22px;
    height: 21px;
    margin-top: 1px;
    margin-left: 3px;
    float: left;
}

.rightColumn-header-img img{
    position: absolute;
    top: 3px;
    left: 5px;
}

.rightColumn-header-span{
    display: block;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    letter-spacing: -0.1px;
}

.rightColumn-box1{
    width: 134px;
    height: 27px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 14px;
    border-radius: 12px;
    margin-left: 24px;
}

.rightColumn-box1-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 22px;
    height: 21px;
    margin-top: 3px;
    margin-left: 4px;;
    float: left;
}

.rightColumn-box1-img span{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 12px;
    height: 12px;
}

.rightColumn-box1-span{
    display: block;
    vertical-align: middle;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
}

.rightColumn-box2{
    margin-left: 36px;
    color: #465961;

}

.rightColumn-box2-chekbox1{
    margin-left: 22px;    position: relative;}

.rightColumn-box2-chekbox1-checkbox{
    display: none;
    }.rightColumn-box2-chekbox1-label{
    cursor: pointer;
    margin-top: 8px;
    display: inline-block;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
}

.rightColumn-box2-chekbox1-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -23px;
    margin-top: 2px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.rightColumn-box2-chekbox1-checkbox:checked + .rightColumn-box2-chekbox1-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    color: #114165;
    text-align: center;
    line-height: 4px;
}

.rightColumn-box2-chekbox2{

margin-left: 22px;

position: relative;

}

.rightColumn-box2-chekbox2-checkbox{
    display: none;
    }

.rightColumn-box2-chekbox2-label{
    cursor: pointer;
    margin-top: 12px;
    display: inline-block;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
}

.rightColumn-box2-chekbox2-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -23px;
    margin-top: 2px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.rightColumn-box2-chekbox2-checkbox:checked + .rightColumn-box2-chekbox2-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    color: #114165;
    text-align: center;
    line-height: 4px;
}

.rightColumn-box2-chekbox3{

margin-left: 22px;

position: relative;

}

.rightColumn-box2-chekbox3-checkbox{
    display: none;
    }

.rightColumn-box2-chekbox3-label{
    cursor: pointer;
    margin-top: 11px;
    display: inline-block;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
}

.rightColumn-box2-chekbox3-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -23px;
    margin-top: 2px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.rightColumn-box2-chekbox3-checkbox:checked + .rightColumn-box2-chekbox3-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    color: #114165;
    text-align: center;
    line-height: 4px;
}


.rightColumn-box3{
    width: 134px;
    height: 27px;
    border: 1px solid #8b979c;
    box-shadow: 1px 1px 4px #969696;
    margin-top: 14px;
    border-radius: 12px;
    margin-left: 24px;
}
.rightColumn-box3-img{
    position: relative;
    display: block;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(left, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    width: 21px;
    height: 21px;
    margin-top: 3px;
    margin-left: 2px;
    float: left;
}

.rightColumn-box3-img span{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
}

.rightColumn-box3-span{
    display: block;
    vertical-align: middle;
    color: #114165;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
    margin-left: 6px;
}

.rightColumn-box4{
    margin-left: 36px;
    color: #465961;

}

.rightColumn-box4-chekbox4{
    margin-left: 22px;
    position: relative;

}

.rightColumn-box4-chekbox4-checkbox{
    display: none;
    }

.rightColumn-box4-chekbox4-label{
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
    letter-spacing: -0.2px;
}

.rightColumn-box4-chekbox4-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -23px;
    margin-top: 1px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.rightColumn-box4-chekbox4-checkbox:checked + .rightColumn-box4-chekbox4-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    color: #114165;
    text-align: center;
    line-height: 4px;
}

.rightColumn-box4-chekbox5{
    margin-left: 22px;
    position: relative;

}

.rightColumn-box4-chekbox5-checkbox{
    display: none;
    }

.rightColumn-box4-chekbox5-label{
    cursor: pointer;
    margin-top: 12px;
    display: inline-block;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
    letter-spacing: -0.2px;
}

.rightColumn-box4-chekbox5-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -23px;
    margin-top: 2px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.rightColumn-box4-chekbox5-checkbox:checked + .rightColumn-box4-chekbox5-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    color: #114165;
    text-align: center;
    line-height: 4px;
}

.rightColumn-box4-chekbox6{
    margin-left: 22px;
    position: relative;

}

.rightColumn-box4-chekbox6-checkbox{
    display: none;
    }

.rightColumn-box4-chekbox6-label{
    cursor: pointer;
    margin-top: 12px;
    display: inline-block;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
    letter-spacing: -0.2px;
}

.rightColumn-box4-chekbox6-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: -23px;
    margin-top: 2px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.rightColumn-box4-chekbox6-checkbox:checked + .rightColumn-box4-chekbox6-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    color: #114165;
    text-align: center;
    line-height: 4px;
}

.rightColumn-box5{
    margin-top: 18px;    margin-left: 30px;}

.rightColumn-box5-button{
    width: 82px;
    height: 26px;
    margin-left: 3px;
    margin-top: 1px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-family: "Arial", sans-serif;
    color: #e5e9ea;
    border: 1px solid rgb(167, 171, 174);
    border-radius: 11px;
    background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    cursor: pointer;
    }

.brands{
    width: 675px;
    height: 37px;
    margin: 0 auto;
    margin-top: 39px;
}

.brands-img{
    display: inline-block;
    vertical-align: middle;
}

.brands-img2{
    margin-top: -6px;
    margin-left: 8px;}

.brands-img3{
    margin-left: 9px;}

.brands-img4{
    margin-left: 11px;    margin-top: -1px;}

.brands-img5{
    margin-top: -6px;    margin-left: 8px;}

.brands-img6{
    margin-left: 9px;    margin-top: 0px;}

.brands-img7{
    margin-left: 9px;    margin-top: -5px;}

.brands-img8{
    margin-left: 10px;    margin-top: -6px;}

footer{
    width: 907px;
    height: 98px;
    margin-top: 14px;
    border: 1px solid #242a3c;
    background-color: #213a4d;
}


.footer-nav-box{
    width: 334px;
    height: 30px;
    margin: 0 auto;
    line-height: 32px;
    margin-bottom: 4px;
}

.footer-nav-list{
        float: left;
        height: 26px;
}

.footer-nav-list:hover a{
    color: #52abcb;

}

.footer-nav-list1 {
    padding-left: 21px;
    letter-spacing: 0.3px;
}

.footer-nav-list2 {
    padding-left: 11px;
    letter-spacing: 0.3px;
}

.footer-nav-list3 {
    padding-left: 11px;
    letter-spacing: 0.3px;
}

.footer-nav-list4 {
    padding-left: 16px;
    letter-spacing: 0.2px;
    border-right: none;
}

.footer-nav-list a{
    font-size: 12px;
    font-family: "Arial", sans-serif;
    color: #bec6c9;
    border-right: 2px solid #bec6c9;
    padding-right: 12px;
    }

.footer-nav-list4 a{
    border-right: none;
}

.footer-legal{
    font-size: 10px;
    font-family: "Arial", sans-serif;
    color: #7f4740;
    line-height: 1.8;
    text-align: center;
    display: inline-block;
    width: 100%;
    letter-spacing: 0.3px;
}
