.progress-holder {
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    color: #4E5454;
    font-size: 16px;
    line-height: 21px;
    padding: 0 8px 3px 0;
  }

  .progress-distance {
    position: relative;
    width: calc(100% - 126px);
    height: 8px;
    overflow: hidden;
    border: 1px solid #DFE6E8;
    background-color: #F0F5F7;

    .done {
      position: absolute;
      height: 8px;
    }
  }
}
