<div class="cad-password-input"
     [class.cad-password-input--disabled]="disabled">

  <input class="cad-password-input__input"
         autocomplete="off"
         type="{{ isPasswordVisible? 'text' : 'password' }}"
         [maxlength]="maxlength"
         (blur)="onBlur()"
         [placeholder]="(placeholder || '') | translate"
         [disabled]="disabled"
         [ngModel]="innerValue"
         (ngModelChange)="updateInnerValue($event)" />

  <div class="cad-password-input__icon" (click)="togglePasswordVisibility()">
    <cad-icon name="view" *ngIf="!isPasswordVisible"></cad-icon>
    <cad-icon name="hide" *ngIf="isPasswordVisible"></cad-icon>
  </div>

</div>
