.nav-boxes {
    @include wrapper(63px, 81px, $navbox-bg);
    text-align: center;

    .nav-box {
        display: inline-block;
        margin-left: 39px;
    }

    .nav-header {
        @include fontubumed(16px, $navbox-hc);

        margin-bottom: 49px;
        text-transform: uppercase;
    }

    .nav-list {
        border-bottom: 1px solid $navbox-borl;
        text-align: left;
        width: 250px;
    }

    .nav-link {
        @include fontubumed(13px, $navbox-colt, 'arial');
        line-height: 2.769;

        &:hover {
            color: $navbox-colt2;
        }
    }

    .nav-box:first-child {
        margin: 0;
    }
}
