@font-face {
  font-family: Mulish;
  src: url('../fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Mulish;
  font-weight: 200;
  src: url('../fonts/Mulish-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: Mulish;
  font-weight: 500;
  src: url('../fonts/Mulish-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Mulish;
  font-weight: 600;
  src: url('../fonts/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Mulish;
  font-weight: 700;
  src: url('../fonts/Mulish-Bold.ttf') format('truetype');
}
