<div class="wrapper-page" *ngIf="router.url !== '/404' && router.url !== '/auth'">
  <div class="wrapper-header">
    <app-header-page></app-header-page>
  </div>
  <div class="wrapper-main">
    <app-sidebar-page></app-sidebar-page>

    <div class="wrapper-content" [ngClass]="{'wrapper-content--close' : mainService.closeSideBar}">
      <!--<div class="wrapper-line-top"></div>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-error *ngIf="router.url === '/404'"></app-error>

<app-project-modal [visible]="true"
                   *ngIf="router.url === '/auth'"
                   [closable]="false"
                   (visibleChange)="visibleModal($event)">
<app-login-page></app-login-page>
</app-project-modal>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

