main {
    padding: 1em;
    font-family: 'montserratbold', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
    font-size: 40px;
    position: relative;
}

#circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    /*top: 110px;*/
    /*left: 10px;*/
}

#output {
    font-size: 10px;
    margin-bottom: 10px;
}
