<main>
    <div class="container main-page">
        <div class="row">
            <h1>Github Users</h1>
            <router-outlet></router-outlet>
        </div>
        <div class="main-page__user-info row" *ngIf="router.url != '/users'" (click)="activeUserPage()">
            <img src="{{activeUser?.avatar_url}}" alt="logo" class="users__logo users__logo--main-page" *ngIf="activeUser?.avatar_url != undefined">
            <div [innerHTML]="svg" class="users__logo users__logo--main-page" *ngIf="activeUser?.avatar_url === undefined"></div>
            <div class="users__text-block users__text-block--main-page  col-md-6">
                <span class="users__login">{{activeUser?.login}}</span>
            </div>
        </div>
    </div>
</main>
