<div class="header">
  <div class="header-logo" (click)="click()">
    <img class="header-logo__picture" src="../../../../assets/img/angular.png">
  <div (click)="closeSideBar()" class="header-sidebar_close">
    ☰
  </div>
  </div>
  <div class="header-right-side">
    <span class="header-lang"
          (click)="changeLanguage('en')"
          *ngIf="translate.currentLang === 'ru'"
          [ngClass]="{'header-en--active' : translate.currentLang === 'en'}">en</span>
    <span class="header-lang"
          (click)="changeLanguage('ru')"
          *ngIf="translate.currentLang === 'en'"
          [ngClass]="{'header-ru--active' : translate.currentLang === 'ru'}">ru</span>
    <span class="header-avatar" focusDirective>
      <div class="user_logo">
        <span class="user-logo__name">{{localStorageService.retrieve('activeUserName') ? localStorageService.retrieve('activeUserName')[0] : 'u' }}</span>
      </div>
    </span>
    <ul class="dropdown-block">
      <li class="dropdown-content">My Plan</li>
      <li class="dropdown-content">My Account</li>
      <li class="dropdown-content">
        <!--<fullscreen-button></fullscreen-button>-->
      </li>
      <li class="dropdown-content" (click)="LogOut()">Log Out</li>
    </ul>
    <span class="header-avatar__point">&#9662;</span>
  </div>
</div>
