@import '../../../../core/assets/scss/variables';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spinner-container.spinner-container--big {
  width: 104px;
  height: 104px;
  .spinner {
    border: 8px solid;
  }
}

.spinner-container.spinner-container--medium {
  width: 33px;
  height: 33px;
  .spinner {
    border: 3px solid;
  }
}

.spinner-container.spinner-container--small {
  width: 22px;
  height: 22px;
  .spinner {
    border: 2px solid;
  }
}

.spinner-container.spinner-container--primary {
  .spinner-inner {
    border-color: transparent $primary-spinner-inner $primary-spinner-inner;
  }
  .spinner-outer {
    border-color: transparent $primary-spinner-outer $primary-spinner-outer;
  }
}

.spinner-container.spinner-container--blue {
  .spinner-inner {
    border-color: transparent $blue-spinner-inner $blue-spinner-inner;
  }
  .spinner-outer {
    border-color: transparent $blue-spinner-outer $blue-spinner-outer;
  }
}

.spinner-container.spinner-container--white {
  .spinner-inner {
    border-color: transparent $white $white;
    opacity: 0.5;
  }
  .spinner-outer {
    border-color: transparent $white $white;
  }
}

.spinner-container.spinner-container--ring {
  .spinner {
    border: 4px solid;
    border-top-color: transparent;
    animation: spin 4s infinite ease-in-out;
  }
  .spinner-inner {
    display: none;
  }
}

.spinner-container {
  display: inline-flex;
  position: relative;

  .spinner {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
  }

  .spinner-inner {
    animation: spin 4s infinite ease-in-out;
    top: 22%;
    left: 22%;
    width: 56%;
    height: 56%;
  }

  .spinner-outer {
    animation: spin-reverse 4s infinite ease-in-out;
    width: 100%;
    height: 100%;
  }

}




