<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="MVC api" enabled="true" stopProcessing="true">
          <match url="^api/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Angular assets" enabled="true" stopProcessing="true">
          <match url="assets/(.*?)\.[\d\w]+$" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="/(shiftworks[^/]+)/?.*/(assets/.*[^/])$" />
          </conditions>
          <action type="Rewrite" url="/{C:1}/{C:2}" appendQueryString="true" />
        </rule>
        <rule name="Angular files" enabled="true" stopProcessing="true">
          <match url=".*\.[\d\w]*$" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="/(shiftworks[^/]+)/?.*/(.*)$" />
          </conditions>
          <action type="Rewrite" url="/{C:1}/{C:2}" appendQueryString="true" />
        </rule>
        <rule name="Angular API" enabled="true" stopProcessing="true">
          <match url="api/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="/(shiftworks[^/]+)/?.*/api/(.+)" />
          </conditions>
          <action type="Rewrite" url="/{C:1}/api/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="Angular routes" enabled="true" stopProcessing="true">
          <match url="./*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{PATH_INFO}" pattern="shiftworks[^\/]+" />
          </conditions>
          <action type="Rewrite" url="/{C:0}/" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>
