<div class="container new-product">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <span class="new-product__title">New product</span>
        <form [formGroup]="productForm" 
                (ngSubmit)="saveProduct(productForm.value, productForm)"
                utocomplete="off" 
                novalidate>
            <div class="new-product__group" 
                 [ngClass]="{ 'new-product__error' : !validateTitle() }">
                <label for="title">Product Title:</label>
                <em *ngIf="productForm.controls.title?.invalid && productForm.controls.title?.touched"
                    class="new-product__group__title">No more than 15 symbols</em>  
                <input formControlName="title" 
                       id="title" 
                       type="text" 
                       class="form-control"/>
            </div>
            <div class="new-product__group" 
                 [ngClass]="{ 'new-product__error' : !validateDescription() }">
                <label for="description">Description:</label>
                <em *ngIf="productForm.controls.description?.invalid && productForm.controls.description?.touched"
                class="new-product__group__description">Required</em>
                <input formControlName="description" 
                       id="description" 
                       type="text" 
                       class="form-control"/>
            </div>
            <div class="new-product__group" 
                 [ngClass]="{ 'new-product__error' : !validatePrice() }">
                <label for="price">Price:</label>
                <em *ngIf="productForm.controls.price?.invalid && productForm.controls.price?.touched"
                class="new-product__group__price">Required</em>
                <input formControlName="price" 
                       id="price" 
                       type="number" 
                       class="form-control"/>
            </div>
            <div class="new-product__group" 
                 >
                <label for="imageUrl">Image:</label>
                <input id="imageUrl" 
                       type="file" 
                       class="form-control"
                       imageUpload
                       (imageSelected)="selected($event)"
                       [resizeOptions]="resizeOptions"/> 
                <img [src]="imgUrl" 
                     [hidden]="!imgUrl"
                     class="new-product__image">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Save</button>
            <button type="button" 
                    class="btn btn-default" 
                    [routerLink]="['/products']" 
                    (click)="cancelCreateForm()" >Cancel</button>
        </form>
    </div>
    <div class="col-md-3"></div>
 </div>