.new-product {
    
    position: relative;

    &__title {
        margin-bottom: 30px;
        display: inline-block;
    }

    &__error input {
        background-color: $new-product__background;
    }
    
    &__em {
        float: right; 
        color: $new-product__color; 
        padding-left: 10px;
    }
    
    &__group {
        font-size: 18px;
        margin-bottom: 30px; 

        & label {
            text-align: left;
            display: block;
        }

        &__title {
            position: absolute;
            font-size: 14px;
            right: 15px;
            top: 72px;
            color: $new-product__color2;
        }

        &__description {
            position: absolute;
            font-size: 14px;
            right: 15px;
            top: 154px;
            color: $new-product__color2;
        }

        &__price {
            position: absolute;
            font-size: 14px;
            right: 15px;
            top: 236px;
            color: $new-product__color2;
        }
    }

    &__image {
        margin-top: 30px;
        width: 128px;
    }

}
    