<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <span class="new-product__title">New product</span>
        <form [formGroup]="productForm" 
                (ngSubmit)="saveCreateForm(productForm.value, productForm)"
                utocomplete="off" 
                novalidate>
            <div class="new-product__group" 
                 [ngClass]="{ 'new-product__error' : !validateTitle() }">
                <label for="title">Product Title:</label>
                <input formControlName="title" 
                       id="title" 
                       type="text" 
                       class="form-control"/>
            </div>
            <div class="new-product__group" 
                 [ngClass]="{ 'new-product__error' : !validateDescription() }">
                <label for="description">Description:</label>
                <input formControlName="description" 
                       id="description" 
                       type="text" 
                       class="form-control"/>
            </div>
            <div class="new-product__group" 
                 [ngClass]="{ 'new-product__error' : !validatePrice() }">
                <label for="price">Price:</label>
                <input formControlName="price" 
                       id="price" 
                       type="number" 
                       class="form-control"/>
            </div>
            <div class="new-product__group" 
                 >
                <label for="imageUrl">Image:</label>
                <input  
                       id="imageUrl" 
                       type="file" 
                       class="form-control"
                       imageUpload
                       (imageSelected)="selected($event)"
                       [resizeOptions]="resizeOptions"/> 
                <img [src]="src" [hidden]="!src">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Save</button>
            <button type="button" 
                    class="btn btn-default" 
                    [routerLink]="['/products']" 
                    (click)="cancelCrerateForm()" >Cancel</button>
        </form>
    </div>
    <div class="col-md-3"></div>
 </div>