<form class="form-component" [formGroup]="shiftGroup">
  <div class="form-component__input-group">
    <mat-input-container
      [class.error-input-block]="shiftGroup.get('shiftTitle').hasError('required') && shiftGroup.get('shiftTitle').touched">
      <input matInput
             placeholder="Request title"
             [formControl]="shiftGroup.get('shiftTitle')">
    </mat-input-container>
    <div class="alert form-component__alert-danger"
         [ngClass]="{'form-component__display': shiftGroup.get('shiftTitle').hasError('required') && shiftGroup.get('shiftTitle').touched}">
      Title field is required.
    </div>
  </div>
  <div class="form-component__input-group">
    <mat-form-field class="example-full-width">
      <input matInput
             placeholder="Date"
             [formControl]="shiftGroup.get('date')">
    </mat-form-field>
  </div>
  <div class="form-component__input-group">
    <mat-form-field class="form-component__group example-full-width">
      <input matInput
             placeholder="Start time"
             [formControl]="shiftGroup.get('startTime')">
    </mat-form-field>
  </div>
  <div class="form-component__input-group">
    <mat-form-field class="list-fields__field">
      <input matInput
             placeholder="End time"
             [formControl]="shiftGroup.get('endTime')">
    </mat-form-field>
  </div>
  <div class="list-fields__field">
    <span>End time</span>
    <input atp-time-picker
           placeholder="End time"
           [formControl]="shiftGroup.get('endTime')">
  </div>
  <div class="form-component__input-group">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Location" [(value)]="shiftGroup.get('locationID').value">
        <mat-option *ngFor="let location of shiftActive['locationList']" [value]="location.id">
          {{ location.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-component__input-group">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Station" [(value)]="shiftGroup.get('stationID').value">
        <mat-option *ngFor="let station of shiftActive['stationList']" [value]="station.id">
          {{ station.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-component__input-group">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Job title" [(value)]="shiftGroup.get('jobID').value">
        <mat-option *ngFor="let job of shiftActive['jobList']" [value]="job.id">
          {{ job.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--<mat-form-field class="example-full-width" *ngIf="router.url == '/shifts/new'">-->
  <!--<input matInput-->
  <!--readonly={{availbleInput}}-->
  <!--placeholder="Station"-->
  <!--value={{shiftForm.station}}>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="example-full-width" *ngIf="router.url == '/shifts/new'">-->
  <!--<input matInput-->
  <!--readonly={{availbleInput}}-->
  <!--placeholder="Job title"-->
  <!--value={{shiftForm.jobTitle}}>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="example-full-width" *ngIf="router.url != '/shifts/new'">-->
  <!--<mat-select placeholder={{shiftForm.locationDescription}}-->
  <!--disableRipple={{availbleInput}}>-->
  <!--<mat-option *ngFor="let location of shiftForm.locationsGroup" [value]="location.name">-->
  <!--{{ location.name }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="example-full-width" *ngIf="router.url != '/shifts/new'">-->
  <!--<mat-select placeholder={{shiftForm.stationDescription}}-->
  <!--disableRipple={{availbleInput}}>-->
  <!--<mat-option *ngFor="let station of shiftForm.stationsGroup" [value]="station.name">-->
  <!--{{ station.name }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="example-full-width" *ngIf="router.url != '/shifts/new'">-->
  <!--<mat-select placeholder={{shiftForm.jobTitleDescription}}-->
  <!--disabled={{availbleInput}}>-->
  <!--<mat-option *ngFor="let jobTitle of shiftForm.jobsTitleGroup" [value]="jobTitle.name">-->
  <!--{{ jobTitle.name }}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="example-full-width">-->
  <!--<input matInput-->
  <!--readonly=true-->
  <!--placeholder={{shiftForm.statusDescription}}-->
  <!--value={{shiftForm.status}}>-->
  <!--</mat-form-field>-->
</form>
