*{
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.main {
    margin: 0 auto;
    width: 500px;
}

/*header*/

.title1 {
    font: bold 36px arial;
    text-transform: uppercase;
    text-align: center;
}

.img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    background: grey url(../img/wooo.png) no-repeat center;
}

.text,
.link {
    padding-bottom: 20px;
    font: 14px arial;
}


.title2 {
    font: bold 18px Myriad Pro;
    padding-bottom: 20px;

}

/*content*/

.content-box {
    padding: 20px 0;
    border-top: 2px solid #c4c4c4;
}

.content-menu {
    padding-left: 40px;
    font: 14px Myriad Pro;
}

.content-2 .text {
    padding-bottom: 0;
}

.content-3 {
    padding: 0 0 20px 0;
    border-top: none;
}
