@mixin wrapper($pt: 0, $pb: 0, $bc: $background) {
    max-width: 1160px;
    margin: 0 auto;
    padding: $pt 0 $pb;
    @include groundimg($bc);
}

@mixin groundimg($bc: $background, $bi: none, $bpx: 0, $bpy: 0) {
    background-color: $bc;
    background-image: $bi;
    background-repeat: no-repeat;
    background-position: $bpx $bpy;
}
@mixin fontubumed($fs: 24px, $c: $color-servis-text, $ff: 'ubuntumedium') {
    font-family: $ff, sans-serif;
    font-size: $fs;
    color: $c;
}
@mixin social($bpx: -62px, $bpy: -17px, $wid: 18px) {
    @include groundimg(none, url('./../img/social.png'), $bpx, $bpy);
    margin-left: 15px;
    display: block;
    height: 17px;
    width: $wid;
    float: right;
    cursor: pointer;
}
@mixin menulist {
    box-sizing: border-box;
    float: left;
    border-right: solid 1px $border-nav;
    padding: 22px 36px;
}
@mixin menulista {
    @include fontubumed(14px, $color-menu-list, 'ubuntu_condensedregular');
    text-transform: uppercase;
}
@mixin ahover {
    color: $color-hover;
}
@mixin servis($ml: 40px) {
    margin-left: $ml;
    float: left;
    max-width: 258px;
}

@mixin imgservis($bi: none) {
    @include groundimg(none, $bi);
    margin-bottom: 34px;
    display: inline-block;
    width: 258px;
    height: 259px;
    border: 0;
}

@mixin textservis {
    @include fontubumed(16px, $color-servis-text);
    text-align: center;
}

@mixin infbox($ml: 40px) {
    margin-left: $ml;
    float: left;
    max-width: 360px;
    max-height: 191px;
}
@mixin contentdate($bc: $background5, $t: 12px, $pt: 15px, $c: $color-text2) {
    position: absolute;
    top: $t;
    left: -17px;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding-top: $pt;
    text-align: center;
    @include groundimg($bc);
    color: $c;
}
