.servis-box {
    @include wrapper(48px, 70px, $background2);

    &__title {
        @include fontubumed;
        margin-bottom: 44px;
    }

    &__servis {
        @include servis;
        position: relative;
        text-align: center;
    }

    &__beforeImg {
        margin-bottom: 34px;
    }

    &__text {
        @include textservis;
    }

    &__beforeImg::before {
        content: '';
        background-color: rgba(36, 140, 236, .9);
        background-image: url('./../img/servisPlus.png');
        background-position: 111px 112px;
        background-repeat: no-repeat;
        display: none;
        position: absolute;
        left: 0;
        height: 259px;
        width: 258px;
    }

    &__link1:hover &__text,
    &__link1:hover &__beforeImg::before {
        @include ahover;
        display: block;
    }

    div:first-of-type {
        @include servis(0);
    }

}
