.servis-box {
    @include wrapper(48px, 70px, $background2);

    &__title {
        margin-bottom: 44px;
        @include fontubumed;
    }

    &__servis {
        @include servis(0);
        // position: relative;
        text-align: center;
    }

    &__img {
        margin-bottom: 34px;
    }

    &__text {
        @include textservis;
    }

    &__link1:hover &__text {
        @include ahover;
    }

    &__img::before {
        content: " ";
        display: block;
        background-color: rgba(36, 140, 236, .9);
        position: absolute;
        height: 260px;
        width: 260px;
    }

    &__link1:hover &__img::before {
        display: block;
    }

    .servis2 {
        @include servis;
        .img-servis2 {
            @include imgservis(url('./../img/servis2.jpg'));
        }
        a:hover .text-servis2{
            @include ahover;
        }
        a:hover .img-servis2{
            @include imgservis(url('./../img/servis2.png'));
        }
        .text-servis2 {
            @include textservis;
        }
    }
    .servis3 {
        @include servis;
        .img-servis3 {
            @include imgservis(url('./../img/servis3.jpg'));
        }
        a:hover .text-servis3{
            @include ahover;
        }
        a:hover .img-servis3{
            @include imgservis(url('./../img/servis3.png'));
        }
        .text-servis3 {
            @include textservis;
        }
    }
    .servis4 {
        @include servis;
        .img-servis4 {
            @include imgservis(url('./../img/servis4.jpg'));
        }
        a:hover .text-servis4{
            @include ahover;
        }
        a:hover .img-servis4{
            @include imgservis(url('./../img/servis4.png'));
        }
        .text-servis4 {
            @include textservis;
        }
    }
}
