<form class="form-component">
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.shiftTitleDescription}}
               value= {{form.shiftTitle}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.dateDescription}}
               value= {{form.date}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.startTimeDescription}}
               value= {{form.startTime}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.endTimeDescription}}
               value= {{form.endTime}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.locationDescription}}
               value= {{form.location}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.stationDescription}}
               value= {{form.station}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.jobTitleDescription}}
               value= {{form.jobTitle}}>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
               readonly={{availbleInput}}
               placeholder={{form.statusDescription}}
               value= {{form.status}}>
    </mat-form-field>
</form>
