.products {

    &__product {
        font-size: 24px;
        color: black;
        width: 250px;
        margin: 20px;
        display: inline-block;      
    }

    &__title {
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 22px;
    }

}

.product {
    &__title {
        margin-bottom: 20px;
    }

    &__text {
    
    }
    &__description {
        display: inline-block;
        text-align: center;
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    &__price {
        font-size: 32px;
        margin-left: 5px;
        color: rgb(51, 122, 183);
    }

    &__image {
        width: 250px;
    }
}