<div class="container">
  <div class="login-holder shadow">
    <div class="form-wrapper">
      <form class="form-holder" [formGroup]="resetGroup" (ngSubmit)="onSubmit()">
        <div class="input-holder">
          <div class="input-holder__label" *ngIf="resetGroup.get('new_password').touched
                                          && resetGroup.get('new_password').invalid">Input more than 6 symbols
          </div>
          <app-project-input [label]="'Password' | translate"
                             [type]="'password'"
                             [compulsory]="true"
                             [control]="resetGroup.get('new_password')">
          </app-project-input>
        </div>
        <div class="input-holder">
          <app-project-input [label]="'Confirm Password' | translate"
                             [type]="'password'" [compulsory]="true"
                             [control]="resetGroup.get('password2')">
          </app-project-input>
        </div>
        <div class="input-holder button">
          <app-project-button [title]="'Set Password' | translate"
                              [type]="'submit'"
                              [disabled]="!resetGroup.valid">
          </app-project-button>
          <app-project-button [title]="'Has account?' | translate"
                              [cancel]="true"
                              [routerLink]="['/auth/login']">
          </app-project-button>
        </div>
      </form>
    </div>
  </div>
  <div class="lang-holder">
    <span class="header-lang"
          (click)="changeLanguage('en')"
          *ngIf="translate.currentLang === 'ru'"
          [ngClass]="{'header-en--active' : translate.currentLang === 'en'}">en</span>
    <span class="header-lang"
          (click)="changeLanguage('ru')"
          *ngIf="translate.currentLang === 'en'"
          [ngClass]="{'header-ru--active' : translate.currentLang === 'ru'}">ru</span>
  </div>
</div>
