@import '../../../shared/style/custom';

.underline {
  padding-bottom: 4px;
  border-bottom: 2px solid $dark_blue;
  color: $text_grey;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $light_grey;

  .logo-holder, .learnster-logo-holder {
    margin-bottom: 25px;
    width: 200px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .lang-holder {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    color: #80919A;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: -50px;

    app-underline {
      margin-right: 10px;
    }
  }

  .learnster-logo-holder {
    margin-top: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: end;

    img {
      width: 120px;
    }

    span {
      padding-right: 8px;
      font-size: 12px;
      text-align: left;
      color: $text_grey;
    };
  }

  .login-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 570px;
    height: 426px;
    padding: 70px 100px 100px 100px;
    background-color: $white;
    box-sizing: border-box;

    .form-wrapper, app-underline {
      width: 100%;
    }

    .form-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .input-holder {
        width: 100%;
        margin-bottom: 11px;

        &.button {
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .container {
    padding: 0;
  }

  .login-holder {
    width: 100% !important;
    padding: 30px !important;
  }
}
