<div class="container">

  <div class="logo-holder">
    <img src="/assets/images/logo.png" alt="">
  </div>
  <div class="login-holder shadow">
    <div class="form-wrapper">

      <form class="form-holder" [formGroup]="resetGroup" (ngSubmit)="onSubmit()">
        <div class="input-holder">
          <!--<app-portal-input [label]="'Password' | translate" [type]="'password'" [compulsory]="true" [control]="resetGroup.get('new_password')"></app-portal-input>-->
        </div>

        <div class="input-holder">
          <!--<app-portal-input [label]="'Confirm Password' | translate" [type]="'password'" [compulsory]="true" [control]="resetGroup.get('password2')"></app-portal-input>-->
        </div>

        <div class="input-holder button">
          <!--<app-portal-button [title]="'Set Password' | translate" [type]="'submit'" [fullWidth]="true" [disabled]="!resetGroup.valid"></app-portal-button>-->
        </div>
      </form>

    </div>

    <!--<app-underline text="Has account?" (onClick)="moveToLogin()"></app-underline>-->

  </div>
  <div class="learnster-logo-holder">
    <span style="white-space: nowrap;">{{ 'Powered by' | translate }}</span>
    <img src="/assets/images/learnster-logo.png" alt="">
  </div>
  <div class="learnster-lang-holder">
    <!--<app-underline text="ENG" [showLine]="lang === 'en'" (onClick)="selectLanguage('en')"></app-underline>-->
    <!--<app-underline text="SWE" [showLine]="lang === 'sw'" (onClick)="selectLanguage('sw')"></app-underline>-->
  </div>
</div>
