body{
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-color: #0c739f;
}

.main{
    margin: 38px auto 0 auto;
    width: 1018px;
    height: 991px;
    font-family: tahoma;
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

    /*header*/
.header-logo{
        display: block;
        margin-left: 90px;
        margin-top: -28px;
        float: left;
    }
.header-content{
        float: right;
        font-size: 12px;
        color: #128aa7;
        line-height: 1.5;
        margin-top: 11px;
        margin-right: 40px;

    }
.header-content-contacts{
    margin-left: 236px;
}

.header-content-box{
    display: inline-block;
    margin-left: 13px;
    margin-top: 28px;
    color: #128aa7;
    text-align: center;
    text-decoration: underline;
}

.header-foto{
    display: block;
    margin: 0 auto;
    border-top: 1px solid #128aa7;
    border-bottom:1px solid #128aa7;
}

.header-menu-box{
    display: block;
    margin: 0 auto;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid black;
    height: 28px;
    width: 1000px;
    box-shadow: 1px 1px 10px;
    background-image: url("../img/panel.png");
    background-repeat: repeat-x;


}

.header-menu-box-list{
    display: inline-block;
    padding-top: 6px;
    font-size: 14px;


}

.header-menu-box-list a{
    color: #fff;
}

.header-menu-box-list1{
    margin-left: 67px;
}

.header-menu-box-list2{
    margin-left: 67px;
    position: relative;
}

.header-menu-box-list3{
    margin-left: 63px;
    position: relative;
}

.header-menu-box-list4{
    margin-left: 78px;
    position: relative;
}

.header-menu-box-list5{
    margin-left: 66px;
}

.header-menu-box-list6{
    margin-left: 73px;
}

.header-menu-box-list7{
    margin-left: 62px;
}

.header-menu-box-list a:hover{
    color: #cacbcb;


}

.header-menu-box-list2-submenu{
    position: absolute;
    width: 150px;
    display: none;
    top: 25px;
    box-shadow: 1px 1px 10px;
    background-color: #303030;
}

.header-menu-box-list2-submenu-1{
    padding: 10px;
}

.header-menu-box-list3-submenu{
    position: absolute;
    width: 150px;
    display: none;
    top: 25px;
    box-shadow: 1px 1px 10px;
    background-color: #303030;
}

.header-menu-box-list3-submenu-1{
    padding: 10px;
}

.header-menu-box-list4-submenu{
    position: absolute;
    width: 150px;
    display: none;
    top: 25px;
    box-shadow: 1px 1px 10px;
    background-color: #303030;
}

.header-menu-box-list4-submenu-1{
    padding: 10px;
}
.header-menu-box-list2:hover .header-menu-box-list2-submenu{
    display: block;
}

.header-menu-box-list3:hover .header-menu-box-list3-submenu{
    display: block;
}

.header-menu-box-list4:hover .header-menu-box-list4-submenu{
    display: block;
}

.header-menu{
    position: relative;
    z-index: 5;
}

.header-menu-tr{
    position: absolute;
    left: 305px;
    top: 13px;
}


    /*content*/
.content-main{




}
/*основа левой колонки*/
.fon1{
    width: 100%;
    float: left;
    position: relative;
    right: 60%;/*отодвигаем фон для средней колонки*/

}
/*основа центральой колонки*/
.fon2{
    width: 100%;
    float: left;
    position: relative;
    right: 20%; /*отодвигаем фон для правой колонки*/


}
/*основа правой колонки*/
.fon3{
    width: 100%;
    float: left;


}

.leftcolumn{
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 80%;/*сумма смещения 1 и 2 фона*/
    margin-left: 9px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}



.centercolumn{
    width: 52%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 80%;


}

.rightcolumn{
    width: 20%;
    float: right;
    margin-right: 9px;
    overflow: hidden;
    position: relative;
    left: 80%;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;

}


.column-info{
        padding: 12px 0 0 15px;
        text-align: justify;

}

.column-info h1{
    font-size: 18px;
    text-align: center;
    line-height: 2;
    font-family: tahoma;
}

.column-info a{
    font-size: 14px;
    text-align: left;
    line-height: 2;
    font-family: tahoma;
    text-decoration: none;
    color: black;
}
    /*footer*/

.footer-copyright{
    margin-top: 8px;
    color: #dee7ee;
    font-family: tahoma;
    font-size: 12px;
    text-align: center;
    }
