<div class="login-schedule">
  <app-header class="global__app-header login-schedule__app-header"
                     [iconLeft]="iconLeft"
                     [descriptionLeft]="descriptionLeft"
                     (outputActionMethod)="goBack($event)">
  </app-header>
  <app-small-list class="global__small-list"
                  [schedule]="true"
                  [lists]="groups"
                  [spinner]="spinner"
                  (outputActionMethod)="showShifts($event)">
  </app-small-list>
</div>
