@import "../../../assets/styles/variables.scss";

:host {
  display: flex;
  background: $cWhite;
  height: 100%;
}

.login-schedule {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__app-header {
    flex-shrink: 0;
    padding: 0;
  }
}
