<div class="login-schedule">
  <app-header-shifts [headerDescription]="headerDescription"
                     class="global__app-header login-schedule__app-header"
                     [arrowBack]="true"
                     [description]="true"
                     (outputActionMethod)="goBack($event)">
  </app-header-shifts>
  <app-small-list class="global__small-list"
                  [schedule]="true"
                  [lists]="groups"
                  [spinner]="spinner"
                  (outputActionMethod)="showShifts($event)">
  </app-small-list>
</div>
