.header-shifts {
  width: 640px;
  height: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__sidebar {
    display: none;
    margin-left: 16px;
  }

  &__description {
    margin-left: 20px;
    font-size: 36px;
  }

  &__tabs {
    display: none;
    position: absolute;
    bottom: 0;
  }

  &__element-display {
    display: block;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}
