:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-list {
  padding-top: 8px;

  &__row {
    min-height: 64px;
    padding: 8px 24px;
    margin-bottom: 0;
    color: rgba(108, 115, 128, 1);
    font-size: 16px;
  }

  &__description {
    margin-left: 24px;
  }
}

i, span {
  cursor: pointer;
}
