.main-list {
  padding-top: 8px;

  &__row {
    padding: 20px 0 4px 24px;
    color: rgba(108, 115, 128, 1);
    font-size: 16px;
  }

  &__description {
    margin-left: 24px;
  }
}

i, span {
  cursor: pointer;
}
