<mat-toolbar class="main-list">
  <ng-container *ngFor="let list of lists">
    <mat-toolbar-row class="main-list__row" (click)="clickEvent(list)" [class.active]="list.description === activeItem">
      <i class="material-icons"
         *ngIf="list.icon">{{list.icon}}</i>
      <i class="material-icons global__element-display-none"
         [ngClass]="{'global__element-display' : done}"
         [ngStyle]="{color : list.id === done ? 'rgba(57,129,230,1)' : 'white'}">done</i>
      <span class="main-list__description"
            [ngStyle]="{color : list.id === done ? 'rgba(57,129,230,1)' : 'inherit'}">{{list.description | capitalizeFirst}}</span>
    </mat-toolbar-row>
  </ng-container>
</mat-toolbar>
