@import "../assets/styles/variables.scss";

.app {

  &__spinner {
    display: none;
  }

  &__spinner-display {
    display: block;
  }

  &__container {
    height: 100%;
  }

  &__content {
    height: 100%;
  }

  &__sidenav {
    width: 85%;
    height: 100%;
  }

  &__app-header {
    height: 184px;
    background-color: rgba(57, 80, 191, 1);
  }
}

