@import "../assets/styles/variables.scss";

app-root {
  height: 100%;
  display: block;
}

app-details-shifts {
  height: 100%;
  display: block;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

app-login {
  height: 100%;
  display: block;
}

app-schedule-login {
  height: 100%;
  display: block;
}

.app {

  &__spinner {
    display: none;
  }

  &__spinner-display {
    display: block;
  }

  &__container {
    height: 100%;
  }

  &__content {
    height: 100%;
  }

  &__sidenav {
    width: 85%;
  }

  &__app-header {
    padding-bottom: 8px;
    height: 184px;
    width: 100%;
    background-color: rgba(57, 80, 191, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
  }
}

