.activity {
    max-width: 768px;
    padding: 99px 10px 0;

    &--text {
        margin-bottom: 40px;
        margin-top: 34px;
    }

    &--search {
        height: 36px;
        width: 224px;
    }

    &--button {
        margin-bottom: 100px;
        margin-left: 7px;
        width: 158px;
    }
}
