@import '../../../assets/style/custom';

.project-select {

  .input_label-star {
    color: $red;
  }

  select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 11px 0 12px 0;
    color: $text_light_grey;
    border: none;
    border-bottom: 2px solid $grey;
    font-size: 18px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;

    &.selected {
      color: $black;
    }
  }

  select:focus {
    outline: none
  }

  .portal-select select {
    appearance: none
  }

  .project-select {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;

    &:after {
      position: absolute;
      top: 24px;
      right: 10px;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 9px solid #e4e4e4;
      pointer-events: none;
    }
  }

  .project-select {
    position: relative;
    margin-bottom: 24px;
    margin-top: 24px;
    &.error {
      .bar:before, .bar:after {
        background: $red;
      }
    }
  }

  select:focus {
    outline: none;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $dark_blue;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  select:focus ~ .bar:before, select:focus ~ .bar:after {
    width: 50%;
  }

  select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  @-webkit-keyframes inputHighlighter {
    from {
      background: $text_grey;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  @-moz-keyframes inputHighlighter {
    from {
      background: $text_grey;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  @keyframes inputHighlighter {
    from {
      background: $text_grey;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}
