@import "../assets/styles/variables.scss";

app-root {
  background-color: #222a51;
  height: 100%;
  display: block;
}

app-details-shifts {
  height: 100%;
  display: block;
}

html {
  height: 100%;
}

body {
  background-color: #222a51 !important;
  margin: 0;
  height: 100%;
}

app-login {
  height: 100%;
  display: block;
}

app-schedule-login {
  height: 100%;
  display: block;
}

.app {

  &__spinner {
    display: none;
  }

  &__spinner-display {
    display: block;
  }
}

/* inputs */
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: normal;
  text-align: left;

  .mat-input-placeholder-wrapper {
    padding-top: 0.85em;
    font-size: 120%;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    overflow: visible;
    font-family: Lato, Helvetica, Arial, sans-serif;
  }

  &.mat-focused .mat-input-placeholder.mat-float,
  .mat-input-placeholder.mat-float:not(.mat-empty) {
    transition: transform .4s cubic-bezier(.25, .8, .25, 1), color .4s cubic-bezier(.25, .8, .25, 1), width .4s cubic-bezier(.25, .8, .25, 1) !important;
    -webkit-transform: translateY(-1em) scale(.75) !important;
    transform: translateY(-1em) scale(.75) !important;
    -ms-transform: translateY(-1em) scale(.75) !important;
    width: 133.33333333%;
    line-height: 20px;
  }

  &.mat-focused {
    .mat-input-underline {
      border-color: $cBlue;

      .mat-input-ripple {
        top: -2px;
      }
    }

    .mat-input-placeholder {
      &.mat-float {
        color: $cBlue;
      }
    }
  }

  .mat-input-placeholder {
    padding-top: 0.85em;
    top: 0;

    &:not(.mat-focused) {
      color: $cGray3;
    }

    &.mat-float {
      &.mat-focused,
      &:not(.mat-empty) {
        line-height: 20px;
      }
    }
  }

  .mat-input-element {
    height: 32px;
    font-size: 120%;
  }

  input[type="password"] {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  .mat-input-underline {
    margin-top: 0;
    border-top: 2px solid $cGray3;
  }

  &.error-input-block {
    .mat-input-placeholder {
      color: $cRed !important;
    }

    .mat-input-underline {
      border-color: $cRed;
    }
  }

  .mat-input-wrapper {
    margin: 1em 0;
    padding-bottom: 6px
  }

  .mat-input-infix {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.mat-fab {
  .mat-icon {
    display: block;
  }
}


