@import '../../shared/style/custom';

.wrapper-page {


}

.wrapper-main {
  display: flex;
  flex-direction: row;
  //margin-left: 10px;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 107px;
}

.wrapper-sidebar {

  position: fixed;
  top: 107px;
  left: 11px;
  bottom: 0;
  z-index: 10;

  background-color: white;

  &__list {

  }

  &__item {
    //box-sizing: border-box;
    padding: 12px 16px;
    width: 136px;
    height: 45px;
    background-color: white;

    &--active {
      max-height: 78px;
    }

  }

  &__description {
    font-size: 14px;
    color: #6e7071;
  }

  //& li {
  //  padding: 35px 30px;
  //  background-color: coral;
  //  color: white;
  //  font-size: 22px;
  //}
}

.wrapper-header {
  height: 107px;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.wrapper-content {
  width: 100%;
  margin-left: 180px;
}

.wrapper-line-top {
  position: relative;
  background-color: #eff3f6;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #cfd8dc;
  padding: 0.75rem 1rem;
}
