<div class="list-fields">
  <div class="list-fields__field">
    <span class="list-fields__label">Request title</span>
    <span class="list-fields__value">{{shift?.location}}</span>
  </div>
  <div class="list-fields__field">
    <span class="list-fields__label">Date</span>
    <span class="list-fields__value">{{shift?.dateFrom | realDate: "L"}}</span>
  </div>
  <div class="list-fields__group">
    <div class="list-fields__field">
      <span class="list-fields__label">Start time</span>
      <span class="list-fields__value">{{shift?.dateFrom | date:"shortTime"}}</span>
    </div>
    <div class="list-fields__field">
      <span class="list-fields__label">End time</span>
      <span class="list-fields__value">{{shift?.dateTo | date:"shortTime"}}</span>
    </div>
  </div>
  <div class="list-fields__field">
    <span class="list-fields__label">Location</span>
    <span class="list-fields__value">{{shift?.location | titlecase}}</span>
  </div>
  <div class="list-fields__field">
    <span class="list-fields__label">Station</span>
    <span class="list-fields__value">{{shift?.station | titlecase}}</span>
  </div>
  <div class="list-fields__field">
    <span class="list-fields__label">Job title</span>
    <span class="list-fields__value">{{shift?.job | titlecase}}</span>
  </div>
  <div class="list-fields__field">
    <span class="list-fields__label ">Status</span>
    <span class="list-fields__value list-fields">{{status | titlecase}}</span>
  </div>
</div>
