body{
    background-color: #fff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper{
    max-width: 2400px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #f9f9f9;
}

/*header*/

header{
    box-sizing: border-box;
    background: url(../img/bg-header.jpg) no-repeat;
    background-position-x: center;
    position: relative;
    padding-bottom: 1px;
}

.header__wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.header__box{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo{
    display: block;
    padding-top: 73px;
    font-size: 48px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #ffffff;
    line-height: 0.703;
    letter-spacing: -0.5px;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo__span{
    color: #745083;
    color: -moz-linear-gradient(top,  #745083 0%, #322539 100%);
    color: -webkit-linear-gradient(top,  #745083 0%,#322539 100%);
    color: linear-gradient(to bottom,  #745083 0%,#322539 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
    text-shadow: none;
 }

.nav{
    margin-top: -32px;
    margin-left: 299px;
}

 .nav__li{
     display: inline-block;
     box-sizing: border-box;
     margin-right: 37px;
     white-space: nowrap;
 }

 .nav__li--space{
    margin-left: 1px;
    letter-spacing: -0.2px;
}

.nav__li--6{
    margin-right: -12px;
}

.nav__a{
    padding: 0 5px;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.nav__a:hover {
    border-bottom: 2px solid #edbfff;
}

.nav__main {
    display: none;
}

.slider{
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 20;
    display: block;
    box-sizing: border-box;
    margin-top: 179px;
    margin-bottom: 60px;
}

.slider-opasity {
    height: 400px;
    z-index: 10;
    display: block;
    margin-top: -508px;
    margin-bottom: 169px;
    background-color: #000;
    opacity: 0.2;

}

.slider__box{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.slider__p{
    z-index: 30;
    display: block;
    float: left;

}

.slider__p--span0{
    display: block;
    margin-top: 91px;
    margin-left: 0px;
    font-size: 60px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #fefefe;
    text-transform: capitalize;
    line-height: 0.6;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: -1px;
}

.slider__p--span1{
    margin-top: 2px;
    margin-left: 0px;
    display: block;
    font-size: 32px;
    color: #edbfff;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    font-family: "LeagueGothicRegular", sans-serif;
    line-height: 0.6;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__p--span2{
    display: block;
    margin-top: -4px;
    font-size: 18px;
    color: #fff;
    text-transform: none;
    font-family: "OpenSansLight", sans-serif;
    letter-spacing: -0.1px;
    line-height: 1.35;
}

.iphone{
    float: right;
    display: block;
    z-index: 50;
    position: relative;
    margin-right: 70px;
    margin-top: -17px;
}

.iphone-copy{
    float: right;
    display: block;
    z-index: 40;
    margin-top: 62px;
    margin-right: -55px;
}

.circle{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 149px;
    left: 60px;
}

.circle__2{
    display: block;
    border-radius: 50%;
    background-color: rgb(203, 165, 218);
    opacity: 0.8;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 13px;
    left: 13px;
}

.circle__3{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 22px;
    left: 25px;
    font-size: 36px;
    color: #fff;
}

.slider:after,
.slider:before{
    position: absolute;
    top: 162px;
    right: 2px;
    content: '\203A';
    font-size: 73px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.slider:before{
    content: '\2039';
    right: 979px;
}

.navigation{
    box-sizing: border-box;
    padding-top: 34px;
    padding-left: 705px;
}

.navigation__circle{
    width: 13px;
    height: 13px;
    display: block;
    box-sizing: border-box;
    float: left;
    margin-left: 9px;
    background-color: #000;
    opacity: 0.302;
    border-radius: 50%;
    cursor: pointer;
}

.navigation__circle:focus{
    background-color: #fff;
    border: 3px solid #000;
}

/*Box1*/

.box1{
    width: 100%;
    box-sizing: border-box;
    background: #745083;
    background: -moz-linear-gradient(top,  #745083 0%, #322539 100%);
    background: -webkit-linear-gradient(top,  #745083 0%,#322539 100%);
    background: linear-gradient(to bottom,  #745083 0%,#322539 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
}

.box1__wrapper{
    max-width: 960px;
    margin: 0 auto;
    color: #fff;
}

.info{
    width: 33%;
    display: block;
    box-sizing: border-box;
    float: left;
    padding-right: 19px;
    padding-top: 77px;
}

.info--2{
    padding-right: 0px;
    padding-left: 22px;
}

.info--3{
    padding-left: 33px;
    float: right;
    padding-right: 0px;
    }

.info::before{
    width: 31px;
    height: 31px;
    display: block;
    content: '';
    float: left;
    margin: 5px 22px 115px 10px;
    background-image: url(../img/info.png);
    background-repeat: no-repeat;
}

.info--2::before{
    background-position: -70px 0px;
}

.info--3::before{
    background-position: -37px 0px;
    margin: 5px 8px 115px 10px;
}

.info__title{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
    letter-spacing: -0.3px;
}

.info__main{
    font-family: "OpenSansLight", sans-serif;
    display: block;
    font-size: 16px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
    line-height: 1.5;
    letter-spacing: -0.1px;
    margin-top: 7px;
}

.info__main--3 {
    margin-right: 0px;
}

.info__readmore{
    margin-top: 5px;
    margin-right: 19px;
    margin-bottom: 68px;
    float: right;
    display: block;
    font-size: 18px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.info__readmore--2{
    margin-right: 11px;
}

.info__readmore--3{
    margin-right: 5px;
}

.info__readmore:hover{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/*Box2*/

.box2{
    width: 100%;
    background-color: #f9f9f9;
}

.box2__wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.vacancy{
    width: 45%;
    display: block;
    box-sizing: border-box;
    float: left;
    padding-right: 39px;
    margin-top: 100px;
    margin-left: 23px;
    padding-top: 30px;
    padding-left: 40px;
    letter-spacing: -0.1px;
    background-image: url(../img/fon_vacancy.png);
    background-repeat: no-repeat;
}

.vacancy::before{
    width: 51px;
    height: 51px;
    display: block;
    content: "";
    float: left;
    margin-left: -63px;
    margin-top: -13px;
    border-radius: 50%;
    background-image: url(../img/foto_man.png);
    background-repeat: no-repeat;
}

.vacncy__logo{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.vacncy__logo--title{
    color: #edbfff;
}

.vacancy__main{
    padding-top: 9px;
    display: block;
    box-sizing: border-box;
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    color: #454545;
    line-height: 1.5;
    letter-spacing: -0.1px;
}

.navigation--vacancy{
    padding-left: 128px;
    padding-top: 60px;
}

.navigation__circle--vacancy{
    width: 16px;
    height: 16px;
    margin-left: 6px;
    border: 1px solid #454545;
    background-color: #e6e6e6;
}

.navigation__circle--vacancy:focus{
    /*background-image: url(../img/point_vacancy.png);
    background-repeat: no-repeat;
    background-position: -1.8px -1.4px;*/
    background: #8a8a8a;
    background: -webkit-linear-gradient(#8a8a8a 0%, #454545 100%);
    background: -o-linear-gradient(#8a8a8a 0%, #454545 100%);
    background: linear-gradient(#8a8a8a 0%, #454545 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#454545',GradientType=0 );
    border: 1px solid #454545;
}

.updates{
    width: 52%;
    display: block;
    box-sizing: border-box;
    float: right;
    padding-top: 130px;
    padding-left: 49px;
}

.updates__title{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    letter-spacing: -0.2px;
}

.updates__1{
    display: block;
    box-sizing: border-box;
    margin-top: 19px;
    margin-left: 67px;
    margin-bottom: 26px;
}

.updates__1::before{
    width: 49px;
    height: 49px;
    display: block;
    content: "";
    float: left;
    margin-left: -66px;
    margin-top: -4px;
    border-radius: 50%;
    background-image: url(../img/img1_updates.png);
    background-repeat: no-repeat;
}

.updates__1--3{
    margin-top: -2px;
}

.updates__1--2::before{
    background-image: url(../img/img2_updates.png);
}

.updates__1--3::before{
    background-image: url(../img/img3_updates.png);
}

.line1__title{
    font-family: "OpenSansExtraBold", sans-serif;
    font-size: 16px;
    color: #454545;
}

.line1__dates{
    margin-top: 8px;
    display: block;
    box-sizing: border-box;
    letter-spacing: -0.15px;
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    color: #454545;
}

.updates__readmore{
    float: right;
    margin-top: 2px;
    margin-right: 22px;
    margin-bottom: 91px;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.2px;
}

.updates__readmore--moreblog{
        display: none;
}

/*box3*/

.box3{
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.box3__wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.company-logo{
    display: block;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 24px;
}

.company-logo__1{
    width: 70px;
    height: 65px;
    display: block;
    box-sizing: border-box;
    float: left;
    margin-left: 66px;
    background-image: url(../img/company_logo.png);
    background-repeat: no-repeat;
    background-position: 1px 0px;
}

.company-logo__1--2{
    margin-left: 67px;
    background-position: -135px 0px;
}

.company-logo__1--3{
    width: 64px;
    background-position: -271px 0px;
}

.company-logo__1--4{
    height: 64px;
    background-position: -402px 0px;
}

.company-logo__1--5{
    width: 117px;
    margin-left: 54px;
    background-position: -525px 0px;
}

.company-logo__1--6{
    width: 87px;
    height: 64px;
    margin-left: 55px;
    margin-top: 2px;
    background-position: -696px 0px;
}

/*box4*/

.box4{
    width: 100%;
    background: #ececec;
}

.box4__wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.column1{
    width: 30%;
    display: block;
    box-sizing: border-box;
    float: left;
    padding-top: 95px;
}

.column1__title{
    margin-left: -1px;
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.4px;
}

.column1__titledop{
    color: #b9b9b9;
}

.column1__copyright{
    display: block;
    box-sizing: border-box;
    padding-top: 13px;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    color: #c5c5c5;
    font-style: italic;
    letter-spacing: -0.2px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    }

.column1__main{
    margin-bottom: 94px;
    margin-top: -6px;
    display: block;
    box-sizing: border-box;
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    color: #787878;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.1px;
    line-height: 1.5;

}

.column2{
    width: 35%;
    display: block;
    box-sizing: border-box;
    float: left;
    padding-top: 97px;
    padding-left: 50px;
}

.column2__title{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.2px;
}

.column2__main{
    margin-top: 7px;
    display: block;
    box-sizing: border-box;
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    color: #787878;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.05px;
    line-height: 1.5;
}

.column3{
    width: 35%;
    display: block;
    box-sizing: border-box;
    float: left;
    padding-top: 97px;
    padding-left: 54px;
}

.column3__title{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.2px;
}

.column3__main{
    margin-top: 7px;
    display: block;
    box-sizing: border-box;
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    color: #787878;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    letter-spacing: -0.05px;
    line-height: 1.5;
}

.column4,
.column5{
    display: none;
}

/*footer*/

footer{
    width: 100%;
    background: url(../img/bg-footer.jpg) no-repeat;
}

.footer__wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.nav--footer{
    display: block;
    box-sizing: border-box;
    float: left;
    margin-top: 47px;
    margin-left: -5px;
    margin-bottom: 47px;
}

.nav__li--footer{
    margin-right: 29px;
}

.nav__a--footer{
    font-size: 20px;
}

.footer__designed{
    display: block;
    box-sizing: border-box;
    float: right;
    margin-top: 54px;
    margin-right: 3px;
    color: #fff;
    font-family: "OpenSansLight", sans-serif;
    font-size: 12px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.footer__designeddop{
    font-family: "OpenSansExtraBold", sans-serif;
}
