<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="D:\Documents\Visual.Studio.Code\gruwa.github.io\practice\hw_ts_02\Content\app.css" type="text/css" />
    <script src="D:\Documents\Visual.Studio.Code\gruwa.github.io\practice\hw_ts_02\Scripts\02-03-dynamic-types.js"></script>
</head>
<body>
    <h1>TypeScript Fundamentals - Dynamic Types</h1>
    <a href="D:\Documents\Visual.Studio.Code\gruwa.github.io\practice\hw_ts_02\index.html">Index</a>
    <div class="description">Explores how dynamic types are examined at run time. Press F12 to see the Console window</div>
    <div id="content">
    </div>
</body>
</html>