.header-shifts {
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: 56px;
  color: white;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    flex-grow: 1;
  }

  &__container-group {
    display: flex;
    flex-direction: row;
    align-items: center;

    .material-icons {
      cursor: pointer;
    }
  }

  &__description {
    margin-left: 16px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 2px;
  }

  &__element-save {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
    cursor: pointer;
  }

  &__element-display-none {
    display: none;
  }

  &__element-display {
    display: block;
  }
}
