.smart-filter {
  position: relative;

  &__face {
  }

  &__panel {
    width: 530px;
    background-color: $white;
    box-shadow: 0 0 6px rgba($black, 0.1);
    position: absolute;
    top: 40px;

    &__list {
      background-color: $gray-f7;
      padding: 0 20px;
    }

    &__footer {
      padding: 20px;
    }
  }

}
