body{
    background-color: #282828;
}
.main {
    position: relative;
    width: 820px;
    margin: 0 auto;
    padding: 0 70px;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;

/*header*/

}

header{
    height: 204px;
    width: 820px;

}


.header-google{
    position: absolute;
    left: 0;
    top: 0;
}

.header-logo{
    position: absolute;
    left: 70px;
    top: 53px;
}

.header-contacts{
    position: absolute;
    right: 70px;
    top: 152px;
    color: #dcdcdc;
    font-family: tahoma;
    font-size: 8.47px;
}

.header-contacts-us{
    font-size: 10.16px;
}

/*content*/
.content-main{
    position:relative;
}

.content-contries-india{
    float: left;
    width: 269px;
    height: 187px;
    background-image: url("../img/foto.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border-radius: 4px;

}

.content-contries-nepal{
    display: inline-block;
    margin: 0 6px;
    width: 269px;
    height: 187px;
    border-radius: 4px;
    background-image: url("../img/foto.png");
    background-repeat: no-repeat;
    background-position: -277px 0px;

}

.content-contries-tibet{
    float: right;
    width: 269px;
    height: 187px;
    border-radius: 4px;
    background-image: url("../img/foto.png");
    background-repeat: no-repeat;
    background-position: -554px 0px;

}

.content-contries-bhutan{
    float: left;
    width: 269px;
    height: 187px;
    margin-top: 70px;
    border-radius: 4px;
    background-image: url("../img/foto.png");
    background-repeat: no-repeat;
    background-position: 0px -250px;

}

.content-contries-sri-lanka{
    display: inline-block;
    width: 269px;
    height: 187px;
    margin: 0 6px;
    margin-top: 70px;
    border-radius: 4px;
    background-image: url("../img/foto.png");
    background-repeat: no-repeat;
    background-position: -277px -250px;


}

.content-contries-maldives{
    float: right;
    width: 269px;
    height: 187px;
    margin-top: 70px;
    border-radius: 4px;
    background-image: url("../img/foto.png");
    background-repeat: no-repeat;
    background-position: -554px -250px;


}

.india-p,
.nepal-p,
.tibet-p,
.bhutan-p,
.sri-lanka-p,
.maldives-p{
    position: absolute;
    top: 394px;
    left: 183px;
    font-family: tahoma;
    font-size: 15.24px;
    color: #e6e6e6;
}

.nepal-p{
    left: 457px;

}


.tibet-p{
    left: 731px;

}


.bhutan-p{
    top: 653px;
    left: 183px;

}


.sri-lanka-p{
    top: 653px;
    left: 446px;

}


.maldives-p{
    top: 653px;
    left: 724px;
}



footer{
    margin-top: 154px;
    padding: 30px;

}

footer p{
    color: #e6e6e6;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
}
