$background: #fff;
$background2: #2a2d32;
$background3: #f7f7f7;
$background4: rgba(255, 255, 255, .05);
$background5: #248cec;
$background6: #f4b60d;
$color-focus: #248cec;
$color-focus2: #000;
$color-hover: #f4b60d;
$color-hover2: #248cec;
$color-text: #2a2d32;
$border-nav: #000;
$color-menu-list: #fff;
$color-border-input: rgb(24, 26, 29);
$color-background-input: rgb(53, 56, 60);
$color-input-color: rgba(255, 255, 255, .45);
$color-slaider-nav: #fff;
$color-infobox-number: rgba(42, 43, 46, .1);
$color-infobox-boxt: #2a2b2e;
$color-infobox-boxinfo: rgb(138, 138, 138);
$color-infobox-infoboxes: #fff;
$color-servis-text: #fff;
