$white: #fff;
$border-nav: #000;
$background-nav: #2a2d32;
$color-menu-list: #fff;
$color-menu-a-hover: #f4b60d;
$color-menu-list-focus: #248cec;
$color-border-input: rgb(24, 26, 29);
$color-background-input: rgb(53, 56, 60);
$color-input-color: rgba(255, 255, 255, .45);
