$background: #fff;
$background2: #2a2d32;
$border-nav: #000;
$color-menu-list: #fff;
$color-a-hover1: #f4b60d;
$color-menu-list-focus: #248cec;
$color-border-input: rgb(24, 26, 29);
$color-background-input: rgb(53, 56, 60);
$color-input-color: rgba(255, 255, 255, .45);
$color-slaider-nav: #fff;
$color-slaider-nav-focus: #000;
$color-infobox-number: rgba(42, 43, 46, .1);
$color-infobox-boxt: #2a2b2e;
$color-infobox-boxinfo: rgb(138, 138, 138);
$color-infobox-readmore-focus: #248cec;
$color-infobox-infoboxes: #fff;
$color-servis-text: #fff;
