body {
    @include wrapperback;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
.wrapper1 {
    @include wrapperback;
}
.wrapper2 {
    @include wrapperback($background2);
}
.wrapper3 {
    @include wrapperback($background3);
}
.wrapper4 {
    @include wrapperback;
}
.wrapper5 {
    @include wrapperback($background2);
}
.wrapper6 {
    @include wrapperback($background4);
}
