@mixin social {
    display: block;
    height: 17px;
    width: 18px;
    float: right;
    margin-left: 15px;
    background-image: url('../../img/social.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
@mixin menulist {
    box-sizing: border-box;
    float: left;
    border-right: solid 1px $border-nav;
    padding: 22px 36px;
}
@mixin menulista {
    font-family: 'ubuntu_condensedregular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-menu-list;
}
.header {
    margin: 36px 0 40px;
    max-width: 100%;
}
.head_box {
    margin-bottom: 36px;
    .logo {
        float: left;
    }
    .social {
        float: right;
        .skype {
            @include social;
            background-position: -62px -17px;
            &:hover {
                background-position: -62px 0;
            }
        }
        .in {
            @include social;
            background-position: -45px -17px;
            &:hover {
                background-position: -45px 0;
            }
        }
        .rss {
            @include social;
            background-position: -27px -17px;
            &:hover {
                background-position: -27px 0;
            }
        }
        .twitter {
            @include social;
            background-position: -10px -17px;
            &:hover {
                background-position: -10px 0;
            }
        }
        .facebook {
            @include social;
            background-position: 0 -17px;
            width: 12px;
            &:hover {
                background-position: 0 0;
            }
        }
    }
}
.nav {
    background-color: $background-nav;
    .menu_header {
        float: left;
        .menu_list {
            @include menulist;
            a {
                @include menulista;
                &:hover {
                    color: $color-menu-a-hover;
                }
            }
            &:first-child{
                background-color: $color-menu-list-focus;
            }
        }
    }
    .search {
        position: relative;
        float: right;
        .gsc-search-button {
            position: absolute;
            right: 9px;
            top: 10px;
            border: 0;
            padding: 0;
            background-color: transparent;
        }
        .gsc-input-box {
            width: 243px;
            height: 42px;
            padding-right: 15px;
            border-color: $color-border-input;
            background-color: $color-background-input;
        }
        .gsc-input {
            padding-right: 0 !important;
            // background-image: none !important;
            background-color: transparent !important;
            // text-indent: 0 !important;
            font-size: 12px !important;
            line-height: 36px;
            color: $color-input-color !important;
        }
        .gsc-control-cse {
            padding: 8px;
            border: 0;
            background-color: transparent;
        }
        .gsc-search-box {
            margin: 0;
        }
        .gsst_a {
            display: none;
        }
    }
}
