.slider-box {
    @include wrapper;
}
.bx-wrapper {
    border: 0;
}
.bx-clone {
    width: 1540px;
}
.bx-controls {
    position: relative;
}
.bx-pager {
    top: -54px;
}
.bx-prev {
    display: none;
}
.bx-next {
    display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    width: 9px;
    height: 9px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: $color-slaider-nav;
    border: 3px solid $color-slaider-nav;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    height: 9px;
    width: 9px;
    background: $color-slaider-nav-focus;
}
