@import    'reset';
@import    'color';
@import    'font';
body {
    background-color: $white;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
.wrapper {
    margin: 0 auto;
    max-width: 1160px;
}
@import     'header';
