@import '../../../../core/assets/scss/variables';

.cad-sticky-header {
  position: relative;
  transition: height 0.2s;
  width: 100%;
  display: flex;
  align-items: center;

  &__content {
    width: 100%;
  }

  &--sticked {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: $white;
  }
}
