.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2e4099;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 196px;
    margin-bottom: 11vh;
  }

  .spinner-progress {

    circle {
      stroke: #fff;
    }
  }
}

