<div class="popup__title popup-select">
  <h4 translate="session.revoked" class="title title_3 title_white"></h4>
</div>
<div class="popup__in">
  <div class="cad-panel cad-panel_p-40-30" cad-column="100">
    <cad-icon width="48" height="48" fill="#cccccc" name="error" class="display-inline"></cad-icon>
    <span class="ml-30 title title_5 title_default title__thin ta-right" translate="session.message" class="display-inline"></span>
  </div>
</div>
<div class="cad-panel cad-panel_p-20-30 ta-right bt">
  <cad-button view="primary" ng-click="ok()" text="buttons.ok" size="middle"></cad-button>
</div>
