.shifts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__app-header {
    width: 100%;
    background-color: #222a51;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    max-width: 360px;

    .mat-tab-group {

      .mat-tab-label .mat-ripple .ng-star-inserted {
        padding: 0;
      }

      .mat-tab-label {
        text-transform: uppercase;
        color: #63749b;
        font-size: 14px;
        //width: 33.33%;
        padding: 0 !important;

      }

      .mat-tab-header {
        border-bottom: none;
      }

      .mat-ink-bar {
        height: 3px;
        color: #4c93ff;
      }

      .mat-tab-label-active {
        color: #4c93ff;
      }
    }
  }
}

