body{
    background-color: #F4F7F9;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    max-width: 1024px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
}

/*header*/

/*content*/

.box {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
}

.form {
    box-sizing: border-box;
    border: 2px solid #6c6c6c;
    padding: 10px 20px 50px 20px;
    margin-bottom: 2px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.firstname,
.lastname,
.address {
    display: inline-block;
}

.input_box{
    margin-bottom: 50px;
    position: relative;
}

label {
display: inline-block;
width: 120px;
}

.input_help {
    position: absolute;
    top: 23px;
    left: 196px;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    padding: 10px;
    background: #63ADF9;
}

/*footer*/
