body{
    background-color: #282828;
}
.main {
    position: relative;
    width: 820px;
    margin: 0 auto;
    padding: 0 70px;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
}

/*header*/

.header-main{
    height: 204px;
    width: 820px;

}

.header-logo{
    position: absolute;
    left: 70px;
    top: 53px;
}

.header-contacts{
    position: absolute;
    right: 70px;
    top: 152px;
    color: #dcdcdc;
    font-family: tahoma;
    font-size: 8px;
}

.header-contacts-us{
    font-size: 11px;
}

/*content*/
.content-main{
    position:relative;
    width:100%;
    overflow:hidden;
}

.content-contries-box{
    display: inline-block;
}

.content-contries-img{
    width: 262px;
    height: 180px;
    border: 1px solid black;
    border-radius: 4px;
}

.content-contries-india{
    float: left;

}

.content-contries-nepal{
    margin-left: 14px;

}

.content-contries-tibet{
    float: right;
}

.content-contries-bhutan{
    margin-top: 70px;
    float: left;
}

.content-contries-sri-lanka{
    margin-left: 14px;
    margin-top: 70px;

}

.content-contries-maldives{
    margin-top: 70px;
    float: right;

}

.content-text1{
    font-family: tahoma;
    font-size: 15px;
    color: #e6e6e6;
    text-align: center;
}

/*footer*/

.footer-main{
    margin-top: 124px;
    padding: 30px;

}

.footer-text{
    color: #e6e6e6;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
}
