// -- body --

$bode__bacground: rgb(34, 34, 34);
$body__color: rgb(255, 255, 255);

//-- products --

$products__color: rgb(0, 0, 0);

// -- verify-product --

$verify-product__bacground: rgb(62, 116, 163);
$verify-product__color: rgb(166, 44, 46);

// -- product --

$product__color: rgb(51, 122, 183);

// -- new-product --

$new-product__background: rgb(227, 195, 197);
$new-product__color: rgb(224, 92, 101);