<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- подключаем стили Mocha, для отображения результатов -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css">
  <!-- подключаем библиотеку Mocha -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js"></script>
  <!-- <script src="../js/bootstrap.js"></script> -->
  <script src="../js/template.js" charset="utf-8"></script>
  <!-- настраиваем Mocha: предстоит BDD-тестирование -->
  <title>Test lesson 14</title>
  <script>
    mocha.setup('bdd');
  </script>

  <!-- подключаем chai -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js"></script>
  <!-- в chai есть много всего, выносим assert в глобальную область -->
  <script>
    var assert = chai.assert;
  </script>
</head>

<body>
    <!-- то что тестируем -->
  <script src="../js/script.js"></script>
  <script type="text/test" id="testForm">
      <div class="wrapper">
          <p class="header page-header"><%= head %></p>
          <content class="content">
              <ol class="list-group testOl">
              <%for (var i = 0; i < $jsData.length; i++) {%>
                  <li class="list-group-item" id="<%=$jsData[i].id%>"><%= $jsData[i].text %>
                      <ul class="list-group clearfix">
                          <%var $answers = $jsData[i].answers;%>
                          <%for (var j = 0; j < $answers.length; j++) {%>
                              <label for="<%= $answers[j].id %>">
                              <input type="checkbox" class="input" id="<%= $answers[j].id %>">
                              <li class="list-group-item"><%= $answers[j].text %></li>
                              </label>
                          <%};%>
                      </ul>
                  </li>
              <%};%>
              </ol>
          </content>
          <button type="button" class="btn btn-primary button buttonEndForm">Проверить мои результаты</button>
          <div class="backgroundModal">
              <div class="windowModal"></div>
          </div>
      </div>
  </script>
  <!-- в этом скрипте находятся спеки -->
  <script src="js/test.js"></script>

  <!-- в элементе с id="mocha" будут результаты тестов -->
  <div id="mocha"></div>

  <!-- запустить тесты! -->
  <script>
    mocha.run();
  </script>

</body>

</html>
