$cWhite: #fff; /*53*/
$cLight1: #eee; /*10*/
$cLight2: #e0e0e0; /*6*/
$cLight3: #dadfe7; /*17*/

$cBlue: #4c97ff; /*54*/
$cDarkBlue: #2e4099; /*13*/
$cSecondBlue: #3e8ffa; /*15*/

$cGray1: #5c5f66; /*9*/
$cGray2: #6d7480; /*8*/
$cGray3: #525866; /*6*/
$cGrayLight1: #a0a6b2; /*8*/
$cGrayLight2: #a1a7b3; /*6*/

$cRed: #e55639; /*10*/

$jungleGreen: #24b25f; /*8*/
$jewel: #158d47; /*8*/

$cBlack: #000; /*5*/
