<mat-toolbar class="side-bar" *ngIf="!groupRestaurantShow">
  <mat-toolbar-row class="side-bar__row" *ngFor="let list of dataService.SIDE_BAR_LIST_MENU">
    <app-main-list  [list]="list" (outputActionMethod)="onClickList($event)"></app-main-list>
  </mat-toolbar-row>
</mat-toolbar>
<app-group-schedule *ngIf="groupRestaurantShow"></app-group-schedule>
<app-small-spinner [ngClass]="{'global__element-display' : spinner}"
                   class="global__element-display-none">
</app-small-spinner>
