<div class="sidebar__head">
    <img class="sidebar__list-toggle" src="../../assets/img/svg/list-toggle.svg">
</div>
<div class="sidebar__toolbar">
        <span class="sidebar__user-avatar">A</span>
        <span class="sidebar__user-name">Aleksey Zolotarenko</span>
    <img class="sidebar__list-toggle sidebar__list-toggle--toolbar" src="../../assets/img/svg/bell.svg">
    <img class="sidebar__list-toggle sidebar__list-toggle--toolbar" src="../../assets/img/svg/conversations.svg">
</div>
<div class="sidebar__inbox">
    <img class="sidebar__list-toggle" src="../../assets/img/svg/inbox.svg">
    <span class="sidebar__inbox__description">Входящие</span>
</div>
<div class="sidebar__lists">

</div>
<div class="sidebar__list-new">
        <img class="sidebar__list-toggle" src="../../assets/img/svg/plus.svg">
        <span class="sidebar__list-new__description">Создать список</span>
</div>