<div class="content__header">
    <span class="content__header__title">{{event?.name}}</span>
    <div class="content__menu">
        <div class="content__menu__list">
            <img class="content__menu__img" src="../../../assets/img/svg/share.svg" >
            <span class="content__menu__sign">Поделиться</span>
        </div>
        <div class="content__menu__list">
            <img class="content__menu__img" src="../../../assets/img/svg/sort.svg" >
            <span class="content__menu__sign">Сортировка</span>
        </div>
        <div class="content__menu__list">
            <img class="content__menu__img" src="../../../assets/img/svg/folder-option.svg" >
            <span class="content__menu__sign">Еще</span>
        </div>
    </div>
</div>
<div class="content__task">
    <div class="content__task__new-task">
        <img class="content__task__img" src="../../../assets/img/svg/plus-task.svg" > 
        <input class="content__task__text" type="text" name="" value="" placeholder="Добавить задачу...">
    </div>
    <item-content [items]="event?.items" ></item-content>   
    <div class="content__task__addtask">
        <span>Показать завершенные задачи</span>
    </div>
</div>
        
