<div class="timezone">
  <div class="cad-row">
    <div class="column column__timezone">
      <div class="title title_4 title_thin mb-20 required" translate="date.time_zone"></div>
      <div class="group mb-30">
        <div class="group__item group__item__timezone">
          <div class="field field_icon">
            <label class="field__in">

              <cad-dropdown head="{{ vm.timezone.title || 'date.select_timezone' }}"
                            color="grey"
                            content-color="{{ vm.inputContentColor }}"
                            icon="arrow-down"
                            size="small"
                            position="{{ vm.inputPosition }}"
                            visibility-action="false"
                            show-tooltip="{{ vm.timezone.title.length > vm.limit }}"
                            limit="{{ vm.limit }}">
                <cad-smart-search-list class="cad-search-list_dropdown"
                                       items="vm.timezoneService.timezonesInfo"
                                       selected="vm.timezone"
                                       on-selected="vm.changeTimezone(selection)"
                                       ng-model="vm.timezone"
                                       required
                                       virtual-scroll
                                       cad-autofocus>
                </cad-smart-search-list>
              </cad-dropdown>

            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
