<main [contextMenu]="products__menu">
    <h1 class="products__title">Products</h1>
    <div *ngIf="router.url != '/products/new'">
        <div *ngIf="router.url != '/products/edit'">
            <button type="button" class="btn btn-primary" [routerLink]="['/products']" *ngIf="router.url != '/products'">Main page</button>
            <button type="button" class="btn btn-info" [routerLink]="['/products/new']" >Create product</button>
        </div>
    </div>
    <hr>
    <router-outlet></router-outlet>
</main>

<context-menu #products__menu>
    <ng-template contextMenuItem [visible]="true" [enabled]="true">
        SubMenu
    </ng-template>
    <ng-template contextMenuItem [divider]="true"></ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" (execute)="link()">
        Ceate new product
    </ng-template>
    
</context-menu>