@import '../../../../../core/assets/scss/variables';

.cad-dropdown.dropdown--primary {

  &.dropdown--opened {
    .dropdown__head {
      .dropdown__head__content {
        background-color: $bg;
      }
    }
  }

  .dropdown__head {
    .dropdown__head__content {
      padding: 4px 7px;
      border-radius: 4px;


      &:hover {
        background-color: rgba($bg, 0.8);

        .dropdown__head__content__title {
          text-decoration: none;
        }
      }
    }
  }
}
