body {
    background-color: $body--bc;
    font-family: 'robotolight', sans-serif;
}

body::before{
    background-image: url('../img/06.jpg');
    content: '';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
