// Project color

$white: rgb(255, 255, 255);
$tango: rgb(255, 131, 36);

$white: #ffffff;
$extra_light_blue: #cfe7f5;
$blue: #009fdf;
$dark_blue: #2d9cce;
$grey: #e4e4e4;
$black: #262626;
$light_grey: #f6f6f6;
$darky_grey: #f0efef;
$text_light_grey: #cacaca;
$text_grey: #777777;
$text_big_grey: #292929;
$text_dark_grey: #5f6a73;
$red: red;
$mine__shaft: #333333;
$regent__gray: #80919A;
$nevada: rgb(170, 197, 207);
$athens__gray: #F1F3F5;
$aqua__haze: #EEF2F5;
$catskill__white: #f2f7f9;
$boulder: #757575;
$hawkes__blue: #DFE8FC;
$radical__red: #fc3471;
$christi: #57C90A;
$tango: #f47a21;
$white: #ffffff;
$gull_gray: #A1B4BF;
$flamingo: #F14742;
$regent_gray: #8698A2;
$froly: #F77A77;
$mercury: #e3e3e3;
$gray_chateau: #d8dddf;
$red: #ff0012;
$nevada2: rgba(102, 116, 123, .3);
$nevada_hover: #379DCF;
