.icon-activate {
	width: 54px;
	height: 54px;
}

.icon-adblock {
	width: 70px;
	height: 87px;
}

.icon-add {
	width: 12px;
	height: 12px;
}

.icon-administration-advertisers {
	width: 96px;
	height: 96px;
}

.icon-administration-alerts {
	width: 107px;
	height: 96px;
}

.icon-administration-integrations {
	width: 105px;
	height: 105px;
}

.icon-administration-markets {
	width: 105px;
	height: 105px;
}

.icon-administration-platforms {
	width: 105px;
	height: 105px;
}

.icon-administration-roles {
	width: 107px;
	height: 96px;
}

.icon-administration-users {
	width: 94px;
	height: 110px;
}

.icon-arrow-down {
	width: 12px;
	height: 8px;
}

.icon-arrow-left {
	width: 9px;
	height: 13px;
}

.icon-arrow-right {
	width: 8px;
	height: 13px;
}

.icon-arrow-up {
	width: 13px;
	height: 8px;
}

.icon-arrow-up-secondary {
	width: 16px;
	height: 24px;
}

.icon-attachment {
	width: 11px;
	height: 18px;
}

.icon-attention {
	width: 18px;
	height: 18px;
}

.icon-calendar {
	width: 19px;
	height: 18px;
}

.icon-case {
	width: 18px;
	height: 18px;
}

.icon-checkbox-tick {
	width: 15px;
	height: 13px;
}

.icon-clone {
	width: 17px;
	height: 18px;
}

.icon-close {
	width: 13px;
	height: 13px;
}

.icon-code {
	width: 19px;
	height: 9px;
}

.icon-committed-reports {
	width: 89px;
	height: 94px;
}

.icon-configure {
	width: 18px;
	height: 18px;
}

.icon-continue {
	width: 11px;
	height: 10px;
}

.icon-create {
	width: 29px;
	height: 29px;
}

.icon-decrease {
	width: 12px;
	height: 9px;
}

.icon-disable {
	width: 18px;
	height: 18px;
}

.icon-dots {
	width: 19px;
	height: 5px;
}

.icon-download {
	width: 16px;
	height: 17px;
}

.icon-download-arrow {
	width: 10px;
	height: 11px;
}

.icon-edit {
	width: 15px;
	height: 15px;
}

.icon-enable {
	width: 18px;
	height: 18px;
}

.icon-error {
	width: 72px;
	height: 72px;
}

.icon-event {
	width: 18px;
	height: 19px;
}

.icon-fires {
	width: 18px;
	height: 18px;
}

.icon-generate {
	width: 16px;
	height: 16px;
}

.icon-group {
	width: 17px;
	height: 18px;
}

.icon-growth {
	width: 12px;
	height: 9px;
}

.icon-hide {
	width: 20px;
	height: 17px;
}

.icon-ic-empty-list {
	width: 54.06px;
	height: 66.969px;
}

.icon-ic-empty-small-list {
	width: 68px;
	height: 68px;
}

.icon-ic-no-list-large {
	width: 70px;
	height: 70px;
}

.icon-ic_send {
	width: 16px;
	height: 16px;
}

.icon-include {
	width: 18px;
	height: 18px;
}

.icon-inclusiveness {
	width: 17px;
	height: 17px;
}

.icon-info {
	width: 19px;
	height: 18px;
}

.icon-insights {
	width: 15px;
	height: 20px;
}

.icon-label {
	width: 18px;
	height: 18px;
}

.icon-lock {
	width: 17px;
	height: 19px;
}

.icon-mail {
	width: 19px;
	height: 14px;
}

.icon-mail2 {
	width: 62px;
	height: 44px;
}

.icon-menu {
	width: 16px;
	height: 15px;
}

.icon-no-data {
	width: 34px;
	height: 27px;
}

.icon-no-image {
	width: 68px;
	height: 68px;
}

.icon-no-line {
	width: 16px;
	height: 14px;
}

.icon-no-result {
	width: 55px;
	height: 68px;
}

.icon-no-result-search {
	width: 61px;
	height: 67px;
}

.icon-no_results_list {
	width: 30px;
	height: 30px;
}

.icon-note {
	width: 14px;
	height: 17px;
}

.icon-notification-header {
	width: 14px;
	height: 18px;
}

.icon-notification_bell {
	width: 28px;
	height: 31px;
}

.icon-opportunity-stage-closed-lost {
	width: 18px;
	height: 18px;
}

.icon-opportunity-stage-closed-won {
	width: 18px;
	height: 18px;
}

.icon-opportunity-stage-delete {
	width: 18px;
	height: 18px;
}

.icon-opportunity-stage-price-quote-cold {
	width: 19px;
	height: 18px;
}

.icon-opportunity-stage-price-quote-red {
	width: 19px;
	height: 18px;
}

.icon-opportunity-stage-price-quote-warm {
	width: 19px;
	height: 18px;
}

.icon-opportunity-stage-proposal {
	width: 13px;
	height: 16px;
}

.icon-opportunity-stage-prospecting {
	width: 16px;
	height: 16px;
}

.icon-opportunity-stage-verbal-acceptance {
	width: 16px;
	height: 15px;
}

.icon-pause {
	width: 54px;
	height: 54px;
}

.icon-percent {
	width: 15px;
	height: 17px;
}

.icon-plus {
	width: 13px;
	height: 13px;
}

.icon-preloader {
	width: 104px;
	height: 104px;
}

.icon-preloader-blue {
	width: 104px;
	height: 104px;
}

.icon-progress {
	width: 20px;
	height: 15px;
}

.icon-q-budget {
	width: 78px;
	height: 94px;
}

.icon-reject {
	width: 54px;
	height: 54px;
}

.icon-remove {
	width: 18px;
	height: 18px;
}

.icon-revenue-reports {
	width: 78px;
	height: 94px;
}

.icon-ring-spinner {
	width: 67px;
	height: 67px;
}

.icon-save {
	width: 31px;
	height: 31px;
}

.icon-search {
	width: 14.22px;
	height: 14.219px;
}

.icon-see-more {
	width: 18px;
	height: 4px;
}

.icon-segment {
	width: 18px;
	height: 18px;
}

.icon-shortcut {
	width: 19px;
	height: 26px;
}

.icon-split {
	width: 20px;
	height: 10px;
}

.icon-star {
	width: 12px;
	height: 12px;
}

.icon-success {
	width: 71px;
	height: 71px;
}

.icon-support {
	width: 26px;
	height: 26px;
}

.icon-tactic_interactive {
	width: 108px;
	height: 108px;
}

.icon-tactic_phone_tablet {
	width: 108px;
	height: 108px;
}

.icon-tactic_standard {
	width: 108px;
	height: 108px;
}

.icon-tactic_type_display {
	width: 54px;
	height: 54px;
}

.icon-tactic_type_mobile {
	width: 54px;
	height: 54px;
}

.icon-tactic_type_social {
	width: 54px;
	height: 54px;
}

.icon-tactic_type_video {
	width: 54px;
	height: 54px;
}

.icon-tick {
	width: 13px;
	height: 11px;
}

.icon-tile-view {
	width: 14px;
	height: 14px;
}

.icon-trash {
	width: 16px;
	height: 18px;
}

.icon-trashbin {
	width: 16px;
	height: 18px;
}

.icon-unlock {
	width: 54px;
	height: 70px;
}

.icon-upload {
	width: 14px;
	height: 14px;
}

.icon-upload-circle {
	width: 19px;
	height: 20px;
}

.icon-url {
	width: 18px;
	height: 19px;
}

.icon-urls {
	width: 101px;
	height: 101px;
}

.icon-username {
	width: 17.62px;
	height: 18px;
}

.icon-view {
	width: 22px;
	height: 15px;
}

