<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}} <!-- называется template expresion -->
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter by:
            </div>
            <div class="col-md-4">
                <input type="text"
                [(ngModel)]="listFilter" #lineInput /> <!-- [(ngModel)] => читается как ngModel directive, 
                происходит процесс двухстороннего бинденга, значение берется из свойства, 
                но при его изменении в поле инпут меняется значение и в свойстве. 
                Квадратные скобки показывают что приходит значение из свойства класса в инпут элемент, 
                круглые скобки говорят о том что введенное значение пользователем изменит значение 
                свойства (в общем это вид бана в коробке :), "listFilter" => само свойство класса 
                с которым обменивается значениями директива )
                #lineInput => так объявляется локальная переменная в шаблоне, благодаря чему 
                в пределах шаблона мы можем получить доступ к полю и его значению , 
                например  (submit)="creat(lineInput.value)"-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">  
                <!-- *ngIf (произносится ngIf expretion и являтся структурной директивой 
                - Structural Directives) => позволяет изменить структуру (блок элементов) 
                в зависимости от условия (true or false), в данном случае наличия внутри элементов products-->
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                            (click)="toggleImage()"><!-- (click) => имеет название Target Event, 
                            "toggleImage()" => имеет название Tamplate Statement, а в общем называется 
                            привязка события на англ. Event Binding, при привязке к ивенту испольуются () 
                            скобки,  в качестве значения указывается название метода с круглыми скобками, 
                            как будто мы его вызываем внутри которых мы можем указать отправляемую переменную -->
                                {{showImage ? 'Hide' : 'Show'}} Image <!-- в темплейт экспрешн можно писать 
                                условие иф, в зависимости от которого будет менятся его содержание, 
                                в данном случае название кнопки -->
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th [innerText]="'Lf'" [class.completed]="">Available</th> <!-- что бы привязаться 
                        к <<==любому свойству эелемента==>> нужно его указать в квадратных скобках, 
                        например как значение можно указать строку "'Lf'", строку надо оборачивать 
                        в ковычки потому будут двойные ковычки из " " и '' ковычек, а можно передать 
                        значение например "product.productId".
                        Так же можно привязаться к определенному классу =>  [class.completed] -->
                        <th [ngClass]="{'completed': true}">Price</th><!-- [ngClass] ( являтся атрибутной 
                        директивой - Atribut Directives) => предназначены для изменения внешнего вида или 
                        поведения дом элементов, они не создают и не удаляют ДОМ элементы, в данном случае 
                        присваивается класс, в зависимости от условий. Вместо true можно указать на свойство 
                        обекта, например product.completed  -->
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter:listFilter"> <!-- *ngFor (произносится 
                    ngFor expretion и являтся структурной директивой - Structural Directives) => позволяет как 
                    в первом ангуляре разложить массив, в общем работает как цикл в js и проходится по всему 
                    массиву и вытаскивает от туда объекты -== НЕ ЗАБЫВАТЬ Let для локальной перменной==- -->
                        <td>
                            <img *ngIf="showImage"
                            [src]="product.imageUrl"
                            [title]="product.productName"
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageMargin">
                            <!-- [src] => ссылка на свойство в котором хранится урл картинки
                            [title] => просто тайтл для имиджа
                            [style.width.px] => назначение свойства width
                         -->
                        </td>
                        <td><a [routerLink]="['/product', product.productId]">{{ product.productName }}</a></td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate}}</td>
                        <td>{{ product.price | currency:"EUR":true:"3.4-5" }}</td> <!-- вывод цифр в нужном 
                        формате, true указывает что можно показывать спец символ валюты вместо букв, "3.4-5" => 
                        указывает на то , что перед точкой должно находится 3 цифры, если есть 1 то впереди 
                        добавятся 2 нуля, после нуля отображется минимум 4 цифры и максимум 5, недостающие 
                        тоже добиваются нулями в конце до минимального значения  -->
                        <td>
                            <ai-star [rating]="product.starRating"
                                (ratingClicked)='onRatingClicked($event)'>
                            </ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
