.popup__in--default-locale {
  .cad-panel {
    .inform__content {
      max-width: 310px;
    }
  }
  .icon.icon-preloader {
    margin-left: -11px !important;
    margin-top: -11px !important;
    width: 22px !important;
    height: 22px !important;
  }
}
