<div class="group-input" [ngClass]="{'error' : control && (control.dirty || control.touched) && control.invalid}"
     [ngStyle]="{'margin-bottom': bottom + 'px', 'margin-top': top + 'px'}">
  <input [type]="type" [required]="compulsory" [placeholder]="placeholder"
         [readonly]="readonly" [formControl]="control">
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>{{ label | translate }}<span *ngIf="compulsory" class="input_label-star"> *</span></label>
  <span class="lock" *ngIf="type === 'password' && showLock"><img src="/assets/img/svg/locked.svg" alt=""></span>
</div>
