<div class="header">
  <div class="header-logo" (click)="click()">
    <img class="header-logo__picture" src="../../../assets/img/angular.png">
  <div (click)="closeSideBar()" class="header-sidebar_close">
    ☰
  </div>
  </div>
  <div class="header-languages">
    <span class="header-en"
          (click)="changeLanguage('en')"
          [ngClass]="{'header-en--active' : translate.currentLang === 'en'}">en</span>
    <span class="header-ru"
          (click)="changeLanguage('ru')"
          [ngClass]="{'header-ru--active' : translate.currentLang === 'ru'}">ru</span>
  </div>
  <div class="avatar-dropdown header_dropdown__small-device">
    <p>{{ 'currentUser.full_name' }}</p>
    <div focusDirective class="user_logo">
      <img src="../assets/images/avatar.png" alt="vendor_avatar"><span>&#9662;</span>
    </div>
    <div class="dropdown-block">
      <p class="dropdown-content">My Plan</p>
      <p class="dropdown-content">My Account</p>
      <!--<fullscreen-button></fullscreen-button>-->
      <p (click)="logOut()"  class="dropdown-content">Log Out</p>
    </div>
  </div>
</div>
