@import '../../shared/style/custom';

.header {
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 7px;

  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);


  &:focus {
    border: none;
  }

  &__picture {
    width: 80px;
  }
}

.header-sidebar_close {
  color: #80919A;
  font-size: 20px;
  position: absolute;
  left: 210px;
  display: none;
}

.header-right-side {
  color: grey;
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lang {
  //margin-right: 10px;
  cursor: pointer;

  &--active {
    color: red;
  }
}

.header-avatar {
  display: flex;
  position: relative;
  margin: 0 15px;

}

.user-logo {

  &__name {
    border-radius: 50%;
    padding: 13px 18px;
    background-color: #f47a21;
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }

  &__point {
    font-size: 13px;
    cursor: pointer;
  }
}

.dropdown-block {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 160px;
  box-shadow: 0px 0px 80px rgba(227, 227, 227, 1);
  background-color: $white;
  top: 56px;
  right: 12px;
  border-radius: 10px;
  text-align: center;
  justify-content: space-around;

  opacity: 0;
  transform: translateY(-10%);
  @include transition(all, 0.4s, linear);
  visibility: hidden;

  .dropdown-content {
    @include transition(all, 0.4s, linear);
    width: 100%;
    font-weight: 400;
    cursor: pointer;
    font-size: 10px;
    line-height: 40px;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      background-color: $aqua__haze;
    }
  }

  &--focus {
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;
  }

}

.dropdown-block:after {
  bottom: 100%;
  left: 79%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: $white;
  border-width: 8px;
  margin-left: 5px;
}




@media (max-width: 992px) {
  app-learnster-button.header_btn {
    display: none;
  }
}

@media (max-width: 640px) {
  .header_dropdown__small-device {
    display: none;
  }
}




@media screen and (max-width: 768px) {

  .header-sidebar_close {
    display: block;
  }
}
