.mat-tab-group {
  width: 640px;

  .mat-tab-label {
    text-transform: uppercase;
    color: #63749b;
    width: 33.33%;

  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mat-ink-bar {
    height: 3px;
    color: #4c93ff;
  }

  .mat-tab-label-active {
    color: #4c93ff;
  }
}

