<div class="login-block-wrap">
  <div class="login-header">
    <div class="rmdl-navheader__brand">
      <img src="assets/images/SWLogo.svg" alt=""/>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="dc-login-form">
      <mat-card>
        <mat-card-content>
          <mat-input-container
            [class.error-input-block]="loginForm.get('login').hasError('required') && loginForm.get('login').touched">
            <input matInput placeholder="Login" formControlName="login" required>
          </mat-input-container>
          <div class="alert alert-danger"
               [ngClass]="{'login-block-wrap__display': loginForm.get('login').hasError('required') && loginForm.get('login').touched}">
            Login field is required.
          </div>
          <mat-input-container
            [class.error-input-block]="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-input-container>
          <div class="alert alert-danger"
               [ngClass]="{'login-block-wrap__display': loginForm.get('password').hasError('required') && loginForm.get('password').touched}">
            Password field is required.
          </div>
          <div class="login-block-wrap__footer-wrap">
            <mat-checkbox formControlName="remember">Remember me</mat-checkbox>
            <button id="login-submit-btn" type="submit" mat-fab [disabled]="loginForm.invalid">
              <mat-icon class="mat-icon material-icons">arrow_forward</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
