<form class="form-component" [formGroup]="dataGroup">
  <app-form-input class="form-component__input-group"
                  placeholder="{{descriptions['title'] | capitalizeFirst}}"
                  [control]="dataGroup.get('dataTitle')">
  </app-form-input>
  <app-form-select class="form-component__input-group"
                   placeholder="{{descriptions['frequency'] | capitalizeFirst}}"

                   [control]="dataGroup.get('frequencyID')">
  </app-form-select>

  <!--&lt;!&ndash;[elements]="data['frequencyList']"&ndash;&gt;-->
  <app-form-date class="form-component__input-group"
                 placeholder="{{descriptions['dateFrom'] | capitalizeFirst}}"
                 readonly="true"
                 type="'date"
                 [control]="dataGroup.get('dateFrom')">
  </app-form-date>
  <app-form-date class="form-component__input-group"
                 placeholder="{{descriptions['dateTrough'] | capitalizeFirst}}"
                 readonly="true"
                 type="'date"
                 [control]="dataGroup.get('dateTrough')">
  </app-form-date>
  <app-form-time class="form-component__input-group"
                 type="time"
                 placeholder="{{descriptions['startTime'] | capitalizeFirst}}"
                 [control]="dataGroup.get('startTime')">
  </app-form-time>
  <app-form-time class="form-component__input-group"
                 type="time"
                 placeholder="{{descriptions['endTime'] | capitalizeFirst}}"
                 [control]="dataGroup.get('endTime')">
  </app-form-time>
  <app-form-input class="form-component__input-group"
                  placeholder="{{descriptions['comment'] | capitalizeFirst}}"
                  readonly="true"
                  required="false"
                  [control]="dataGroup.get('comment')">
  </app-form-input>
</form>

