<form class="form-component" [formGroup]="dataGroup">
  <app-form-input class="form-component__input-group"
                  placeholder="{{descriptions['title'] | capitalizeFirst}}"
                  [control]="dataGroup.get('dataTitle')"
                  (outputActionMethod)="changeForm($event)">
  </app-form-input>
  <app-form-select class="form-component__input-group"
                   placeholder="{{descriptions['frequency'] | capitalizeFirst}}"
                   [elements]="data ? data['frequencyList'] : ''"
                   [control]="dataGroup.get('frequencyID')"
                   (outputActionMethod)="changeForm($event)">
  </app-form-select>
  <app-form-date class="form-component__input-group"
                 placeholder="{{descriptions['dateFrom'] | capitalizeFirst}}"
                 [required]="false"
                 [control]="dataGroup.get('dateFrom')"
                 (outputActionMethod)="changeForm($event)">
  </app-form-date>
  <app-form-date class="form-component__input-group"
                 placeholder="{{descriptions['dateTrough'] | capitalizeFirst}}"
                 required="false"
                 [control]="dataGroup.get('dateTrough')"
                 (outputActionMethod)="changeForm($event)">
  </app-form-date>
  <app-form-time class="form-component__input-group"
                 type="time"
                 placeholder="{{descriptions['startTime'] | capitalizeFirst}}"
                 [control]="dataGroup.get('startTime')"
                 (outputActionMethod)="changeForm($event)">
  </app-form-time>
  <app-form-time class="form-component__input-group"
                 type="time"
                 placeholder="{{descriptions['endTime'] | capitalizeFirst}}"
                 [control]="dataGroup.get('endTime')"
                 (outputActionMethod)="changeForm($event)">
  </app-form-time>
  <app-form-text-area class="form-component__input-group"
                      placeholder="{{descriptions['comment'] | capitalizeFirst}}"
                      required="false"
                      [control]="dataGroup.get('comment')"
                      (outputActionMethod)="changeForm($event)">
  </app-form-text-area>
</form>

