.example-spacer {
  flex: 1 1 auto;
}

.header-shifts {
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: 56px;
  color: white;
  position: relative;
  flex-direction: column;

  &__header {
    margin: 25px 0 32px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    flex-grow: 1;
  }

  &__description {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  &__arrow_down {
    margin-left: 16px;
  }

  &__correct-color {
    color: white;
    opacity: 0.56;
  }

  &__correct-font {
    font-size: 14px;
  }

  &__element-save {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
    cursor: pointer;
  }

  &__logoSmall {
    width: 110px;
    margin-left: 24px;
  }

  &__element-display-none {
    display: none;
  }

  &__element-display {
    display: block;
  }

}
