<mat-toolbar>
  <mat-toolbar-row class="header-shifts__header">
    <i class="material-icons header-shifts__element-display-none"
       (click)="clickEvent()"
       [ngClass]="{'header-shifts__element-display' : sideBar}">menu</i>
    <i class="material-icons header-shifts__element-display-none"
       (click)="clickEvent()"
       [ngClass]="{'header-shifts__element-display' : closePage}">close</i>
    <i class="material-icons header-shifts__element-display-none"
       (click)="clickEvent()"
       [ngClass]="{'header-shifts__element-display' : arrowBack}">arrow_back</i>
    <span class="header-shifts__description header-shifts__element-display-none"
          [ngClass]="{'header-shifts__element-display' : description}">{{headerDescription | capitalizeFirst}}</span>
    <img src="assets/images/SWLogo.svg" alt="" class="header-shifts__logoSmall header-shifts__element-display-none"
         [ngClass]="{'header-shifts__element-display' : logoSmall}"/>
    <span class="example-spacer"></span>
    <i class="material-icons header-shifts__element-display-none"
       [ngClass]="{'header-shifts__element-display' : delete}">delete</i>
    <span class="header-shifts__element-save header-shifts__element-display-none"
          (click)="clickEvent()"
          [ngClass]="{'header-shifts__element-display' : save && tab === 'my requests'}">save</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar *ngIf="room || account_circle">
  <mat-toolbar-row>
    <i class="material-icons header-shifts__correct-color header-shifts__element-display-none"
       [ngClass]="{'header-shifts__element-display' : account_circle}">account_circle</i>
    <span class="header-shifts__description header-shifts__correct-color header-shifts__correct-font header-shifts__element-display-none"
          [ngClass]="{'header-shifts__element-display' : account_circle}">{{accountDescription}}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <i class="material-icons header-shifts__correct-color header-shifts__element-display-none"
       [ngClass]="{'header-shifts__element-display' : room}">room</i>
    <span class="header-shifts__description header-shifts__correct-color header-shifts__correct-font header-shifts__element-display-none"
          [ngClass]="{'header-shifts__element-display' : room}">{{roomDescription}}</span>
    <i class="material-icons header-shifts__arrow_down header-shifts__correct-color header-shifts__element-display-none"
       [ngClass]="{'header-shifts__element-display' : room}">keyboard_arrow_down</i>
  </mat-toolbar-row>
</mat-toolbar>
