body{
    background-color: #F4F7F9;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    max-width: 1024px;
    padding: 30px;
    margin: 0 auto;
    background-color: #3b57a5;
}

/*plugins*/

/*start jcarousel*/
.jcarousel {
    position: relative;
    overflow: hidden;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    float: left;
}
/*end jcarousel*/

/*header*/

/*content*/

.box_jcarousel {
    box-sizing: border-box;
    max-width: 650px;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}
.box_jcarousel a{
    display: block;
    position: absolute;
    top: 180px;
    color: #fff;
    font-size: 100px;
}
.jcarousel-prev{
    left: -70px;
}
.jcarousel-next{
    right: -70px;
}

/*footer*/
