body{
    background-color: #F4F7F9;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    max-width: 2024px;
    /*padding: 30px;*/
    margin: 0 auto;
    background-color: #cdd;
}

/*plugins*/

/*start jcarousel*/
.jcarousel {
    position: relative;
    overflow: hidden;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    float: left;
}
/*end jcarousel*/

/*start ikSelect*/
.ik_select {
    margin: 0 auto;
    padding-right: 48px;
    padding-left: 28px;
    height: 35px;
    border: 2px solid #3958E6;
    border-radius: 30px;
    background: #5483F1;

    /*
    Wraps all the plugin's HTML code.
    Probably you should not add any styles here
    */
}
.ik_select_link::after {
    position: absolute;
    top: 34%;
    right: 21px;
    font-size: 15px;
    content: "\25BC";
    color: #fff;
    cursor: pointer;
    /* Fake select you click on to open the dropdown */
}
.ik_select_list_inner{

}
.ik_select_link_focus {

    /* Focused state of the fake select */
}
.ik_select_link_disabled {

    /* Disabled state of the fake select */
}
.ik_select_link_text {
    position: absolute;
    margin-left: 20px;
    color: #fff;
    top: 12%;
    cursor: pointer;
    font-size: 28px;
    /*
    Wrapper for the text inside the link.
    It's best to add some width limiting rules here like
    display:block;
    overflow:hidden;
    white-space:nowrap;
        text-overflow:ellipsis;
        */
    }

.ik_select_dropdown {
    top: 39px;

    /*
    Dropdown wrapper. Needed for script calculations.
    You should not add any visual styles here.
    You can shift the position of the dropdown
    by changing top and left values like
    top: -2px;
    left: -5px;
    */
}
.ik_select_list {
    padding: 10px;
    width: 190px;
    height: 200px;
    border: 2px solid #3958E6;
    border-radius: 10px;
    background: #5483F1;
    -webkit-box-shadow: 1px 1px 10px 3px #9EB1FF;
    box-shadow: 1px 1px 10px 3px #9EB1FF;


    /*
    Wrapper for the options list.
    Now that's a good place to add visual styles.
    */
}

.ik_select_optgroup {

    /* Optgroup */
}
.ik_select_optgroup_label {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 18px;
    color: #53ff00;
    /* Optgroup label */
}
.ik_select_option {
    margin: 5px;
    font-size: 20px;
    opacity: 0.65;
    /* Option */
}
.ik_select_option_label {
    margin-left: 20px;
        /* Option label */
    }
.ik_select_hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
    /* The hovered state of an option */
}
.ik_select_active {
    opacity: 1;
    /* The active state of an option */
}
.ik_select_filter_wrap {
    /* Wrapper for the filter input */
}
.ik_select_filter {
    /* Filter input */
}
.ik_nothing_found {
        /* Block that's shown when there's nothing found. */
    }
/*end ikSelect*/

/*header*/

.header {
    margin-bottom: 140px;
}

/* start menu_css*/

.main_menu_css {
    background-color: #FF6464;
    margin-bottom: 50px;
}
.menu {
    max-width: 400px;
    margin: 0 auto;

}
.menu > li {
    display: block;
    float: left;
    margin: 5px 15px 6px 15px;
    height: 26px;
}
a:hover{
    color: black;
}
.menu > li a{
    font-size: 12px;
}

li a {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
.dropdown {
    position: relative;
}
.dropdown:after{

    content: "\25BC";
    font-size: 8px;
    color: #fff;
    margin-left: 7px;

}
.sub__menu {
    left: -99999px;
    position: absolute;
    z-index: 1;
    opacity:0;
    -webkit-transition:0.25s linear opacity;
    padding-top: 0;
}
.sub__menu li{
    width: 77px;
    padding: 5px 20px 5px 10px;
    background-color: #E14B4B;
    margin-top: 1px;
}
.dropdown0:hover .sub__menu0{
    left:0;
    opacity:1;
    color: black;
}
.dropdown li:hover{
    transition: 2s;
    background-color: #4b8fe1;
}
.sub__menu0 {
    top: 27px;
    -webkit-box-shadow: 1px 5px 7px 2px #383838;
    box-shadow: 1px 5px 7px 2px #383838;
}
.dropdown1:hover .sub__menu1{
    left: 92px;
    opacity:1;
    color: black;
}
.sub__menu1 {
    top: 2px;
    -webkit-box-shadow: 1px 5px 7px 2px #383838;
    box-shadow: 1px 5px 7px 2px #383838;
}
.dropdown2:hover .sub__menu2{
    left: 87px;
    opacity:1;
    color: black;
}
.sub__menu2 {
    top: -30px;
    -webkit-box-shadow: 1px 5px 7px 2px #383838;
    box-shadow: 1px 5px 7px 2px #383838;
}
/* end menu_css*/

/*content*/

.box_jcarousel {
    box-sizing: border-box;
    max-width: 650px;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}
.box_jcarousel a{
    display: block;
    position: absolute;
    top: 180px;
    color: #fff;
    font-size: 100px;
}
.jcarousel-prev{
    left: -70px;
}
.jcarousel-next{
    right: -70px;
}

.box_select {
    box-sizing: border-box;
    max-width: 300px;
    height: 300px;
    margin: 20px auto;

}
.box_checkbox {
    box-sizing: border-box;
    max-width: 400px;
    margin: 20px auto;
}

/*start checkbox_jquery*/
.checkbox_jquery{
    float: left;
    position: relative;
}
.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox.png);
	overflow: hidden;


}
.niceChecked {
	background-position: -1px -19px;
}
.niceCheck input {
	margin-left: -100px; /* можно задать побольше чтобы наверняка скрыть поле */
}
.niceCheckDisabled {
	background-image: url(../img/checkboxLock.jpg);
}

/*end checkbox_jquery*/


/* start checkbox_csss*/
.checkbox_css{
    float: right;
    color: #465961;
    overflow: hidden;
}
.chekbox1{
    margin-left: 22px;
    position: relative;

}
.chekbox1-checkbox{
    position: absolute;
    margin-left: -999px;
    }
.chekbox1-label{
    cursor: pointer;
    margin-top: 8px;
    display: inline-block;
    font-size: 22px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #465961;
}
.chekbox1-label::before{
    border: 1px solid #114165;
    background-color: #fff;
    content: "";
    width: 12px;
    height: 12px;
    margin-left: -23px;
    margin-top: 3px;
    line-height: 6px;
    position: absolute;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.chekbox1-checkbox:checked + .chekbox1-label::before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 20px;
    color: #114165;
    text-align: center;
}
.chekbox1-label-disabled::before {
    content: "\2713";
    opacity: 0.4;
}

/*end checkbox_css*/


/*footer*/
