<cad-panel headTitle="Password Input">
  <div cad-panel-content>

    <div class="examples__params">
      <ul>
        <li><strong>@Input() placeholder: string</strong> - placeholder for internal input element</li>
      </ul>
      <br>
      <div class="examples__params__note">
        Component implements <strong>ControlValueAccessor</strong> - i.e. supports <strong>[(ngModel)]</strong>
      </div>
    </div>

    <div class="cad-row">
      <div class="column column-30">
        <div class="mb-10">
          Width:
          <input class="mb-15" type="range" min="20" max="1000" [(ngModel)]="elemWidth" />
        </div>

        <input type="text" class="input mb-10" placeholder="placeholder" [(ngModel)]="placeholder" />

        <div class="mb-10">
          <cad-checkbox [(ngModel)]="isDisabled">Disabled</cad-checkbox>
        </div>

        <div class="mb-10">
          <cad-checkbox [(ngModel)]="isRequired">Required validation</cad-checkbox>
        </div>
      </div>

      <div class="column column-70">

        <div class="mb-20"><b>Input Value:</b> {{ query }}</div>

        <div [style.width.px]="elemWidth">

          <cad-password-input [(ngModel)]="query"
                              [required]="isRequired"
                              [placeholder]="placeholder"
                              [disabled]="isDisabled">
          </cad-password-input>

        </div>
      </div>

    </div>

    <textarea class="examples__copy" rows="4" ngNonBindable spellcheck="false">
<cad-password-input [(ngModel)]="query"
                    [placeholder]="placeholder"
                    [disabled]="isDisabled">
</cad-password-input>
    </textarea>

  </div>
</cad-panel>
