<mat-tab-group (selectedTabChange)="selectedTabChange($event)"
               [selectedIndex]=tabIndex>

  <!--<div *ngFor="let tab of dataService.indexTABS">-->
    <!--<mat-tab label={{tab}}-->
             <!--position=0-->
             <!--class="mat-tab-label">-->
      <!--<ng-template matTabContent>-->
        <!--<ng-content select='tab'></ng-content>-->
        <!--<app-small-spinner [ngClass]="{'global__element-display' : spinner}"-->
                           <!--class="global__element-display-none">-->
        <!--</app-small-spinner>-->
      <!--</ng-template>-->
    <!--</mat-tab>-->

  <!--</div>-->



  <mat-tab label={{dataService.indexTABS[0]}}
           position=0
           class="mat-tab-label">
    <ng-template matTabContent #as>
      <ng-content select="tab-one" ></ng-content>
      <app-small-spinner [ngClass]="{'global__element-display' : spinner}"
                         class="global__element-display-none">
      </app-small-spinner>
    </ng-template>
  </mat-tab>
  <mat-tab label={{dataService.indexTABS[1]}}
           position=0
           class="mat-tab-label">
    <ng-template matTabContent>

      <ng-content select="tab-two"></ng-content>
      <app-small-spinner [ngClass]="{'global__element-display' : spinner}"
                         class="global__element-display-none">
      </app-small-spinner>
    </ng-template>
  </mat-tab>
</mat-tab-group>
