<div class="details-shifts">
  <app-header-shifts [headerDescription]="headerDescription"
                     class="details-shifts__app-header"
                     [save]="true"
                     [tab]="tab"
                     [closePage]="true"
                     [description]="true"
                     (outputActionMethod)="closeOurPage($event)">
  </app-header-shifts>
  <div class="details-shifts__content">
    <app-list-fields [shiftActive]="shiftActive"
                     [status]="status"
                     *ngIf="tab !== 'my requests'">
    </app-list-fields>
    <app-small-spinner [ngClass]="{'global__element-display' : spinner}"
                       class="global__element-display-none">
    </app-small-spinner>
  </div>
  <div class="details-shifts__footer" (click)="clickFooter()">
    {{footerDescription}}
  </div>
</div>
