<div class="details-shifts">
  <app-header class="global__app-header details-shifts__app-header"
              [iconLeft]="iconLeft"
              [descriptionLeft]="descriptionLeft"
              (outputActionMethod)="closeOurPage($event)">
  </app-header>
  <div class="details-shifts__content">
    <app-list-fields [shiftActive]="shiftActive"
                     [status]="status"
                     *ngIf="tab !== 'my requests'">
    </app-list-fields>
    <app-small-spinner [ngClass]="{'global__element-display' : spinner}"
                       class="global__element-display-none">
    </app-small-spinner>
  </div>
  <div class="details-shifts__footer"
       [class.details-shifts__status-button]="status === 'pickup request' || status === 'drop request'"
       (click)="clickFooter()">
    {{footerDescription}}
  </div>
</div>
