body {
    @include groundimg;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.wrapper1 {
    @include groundimg;
}

.wrapper2 {
    @include groundimg($background2);
}

.wrapper3 {
    @include groundimg($background3);
}

.wrapper4 {
    @include groundimg;
}

.wrapper5 {
    @include groundimg($background2);
}

.wrapper6 {
    @include groundimg($background7);
}
