body{
    background-color: #Fff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    max-width: 1024px;
    padding: 30px;
    margin: 0 auto 0 auto;
    background-color: #fff;
}

/*header*/

/*content*/

.navbar-form {
    margin-top: 50px;
    text-align: center;
}

.navbar-form input {
    width: 400px;
    margin-top: 0;
}

/*footer*/
