@import '../../../../core/assets/scss/variables';

.cad-background-process-dismiss-popup {
  &__body {
    display: flex;
    padding: 30px 40px;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: $white;
  }

  &__text {
    font-size: 14px;
    color: $cl;
    word-break: break-all;
  }

  &__link {
    text-transform: lowercase;
  }

  &__icon {
    margin-right: 20px;
    fill: $gray;
  }

  &__confirmation {
    padding: 20px;
    background-color: $gray-f7;
  }
}
