<cad-panel headTitle="Icon">
  <div cad-panel-content>

    <div class="examples__params">
      <ul>
        <li><strong>[name]: string</strong></li>
        <li><strong>[customClass]: string</strong></li>
        <li><strong>[width]: string</strong></li>
        <li><strong>[height]: string</strong></li>
        <li><strong>[fill]: string</strong></li>
      </ul>
    </div>

    <cad-icon name="add"></cad-icon>
    <cad-icon name="preloader" customClass="small"></cad-icon>

    <textarea class="examples__copy">
<cad-icon name="add"></cad-icon>
<cad-icon name="preloader" customClass="small"></cad-icon>
    </textarea>

  </div>
</cad-panel>
