<div class="details-shifts">
  <app-header-shifts [headerDescription]="headerDescription"
                     class="details-shifts__app-header"
                     [save]="true"
                     [tab]="tab"
                     [closePage]="true">
  </app-header-shifts>
  <div class="details-shifts__content">
    <!--<app-form [form]="shiftForm" [tab]="tab"></app-form>-->
    <app-list-fields [shiftActive]="shiftActive" [status]="status"></app-list-fields>
  </div>
  <div class="details-shifts__footer" (click)="clickFooter()">
    {{footerDescription}}
  </div>
</div>
