@import 'reset';
@import 'font';
@import 'color';
@import './../../app/users/users.component.scss';

body {
    background: #0147A7;
    color: #fff;
    font-family:'montserratbold';
    font-size: 20px;
}