// Project color

$white: rgb(255, 255, 255);
$tango: rgb(255, 131, 36);

$white: #ffffff;
$extra_light_blue: #cfe7f5;
$blue: #009fdf;
$dark_blue: #2d9cce;
$grey: #e4e4e4;
$black: #262626;
$light_grey: #f6f6f6;
$darky_grey: #f0efef;
$text_light_grey: #cacaca;
$text_grey: #777777;
$text_big_grey: #292929;
$text_dark_grey: #5f6a73;
$red: red;