//body
$body--bc: rgb(255, 255, 255);

//header
$header--but-border: rgb(255, 255, 255);
$header--but-bc: rgba(255, 255, 255, .2);
$header--but-bc2: rgb(255, 78, 80);
$header--but-col: rgb(255, 255, 255);
$header--text-col: rgb(255, 255, 255);
