<div class="content__header clearfix">
                <span class="content__header__title">Входящие</span>
                <div class="content__menu">
                    <svg class="svg-icon">
                        <use xlink:href="#icon_share"></use>
                    </svg>
                    <svg class="svg-icon">
                        <use xlink:href="#icon_sort"></use>
                    </svg>
                    <svg class="svg-icon">
                        <use xlink:href="#icon_folder-option"></use>
                    </svg>
                </div>
            </div>
            <div class="content__task">
                <div class="content__task__new-task">
                    <svg class="svg-icon">
                        <use xlink:href="#icon_plus-task"></use>
                    </svg>
                    <input type="text" name="" value="" placeholder="Добавить задачу...">
                </div>
                <div class="">

                </div>
                <div class="content__task__addtask">
                    <span>Показать завершенные задачи</span>
                </div>
            </div>