<div class="ui-g add_user">
    <div class="ui-g add_user" [formGroup]="emailGroup" *ngIf="!userGroupVisible">
        <app-form-group (onSubmit)="onSubmit()" [group]="emailGroup">
            <div class="ui-g-12">
                <app-form-input [label]="'Email'" [placeholder]="'Email'" [control]="emailGroup.get('email')">
                </app-form-input>
            </div>
            <div class="ui-g-12 add-user__btn-group">
                <app-learnster-button ripple [disabled]="!emailGroup.valid"
                                      title="Search"
                                      (onClickEvent)="onSubmitEmailCheck()"
                                      newClass="add-user__btn">
                </app-learnster-button>
                <app-learnster-button ripple title="Cancel"
                                      (onClickEvent)="onCancel()"
                                      cancel="true"
                                      newClass="add-user__btn">
                </app-learnster-button>
            </div>
        </app-form-group>
    </div>
    <div class="ui-g add_user" [formGroup]="userGroup" *ngIf="userGroupVisible">
        <app-form-group (onSubmit)="onSubmit()" [group]="userGroup">
            <div class="ui-g-12">
                <app-form-input [label]="'First name'"
                                [placeholder]="'First name'"
                                [control]="userGroup.get('name')">
                </app-form-input>
            </div>
            <div class="ui-g-12">
                <app-form-input [label]="'Last name'" [placeholder]="'Last name'" [control]="userGroup.get('last_name')">
                </app-form-input>
            </div>
            <div class="ui-g-12">
                <app-form-input [label]="'Email'" [placeholder]="'Email'" [control]="userGroup.get('email')">
                </app-form-input>
            </div>
            <div class="ui-g-12">
                <app-form-input [label]="'Title'" [placeholder]="'Title'" [compulsory]="false" [control]="userGroup.get('title')">
                </app-form-input>
            </div>
            <div class="ui-g-12">
                <app-form-input [label]="'Company'" [placeholder]="'Company'" [compulsory]="false" [control]="userGroup.get('company')">
                </app-form-input>
            </div>
            <div class="ui-g-12">
                <app-form-textarea [label]="'About me'" [control]="userGroup.get('about_me')">
                </app-form-textarea>
            </div>
            <div class="ui-g-12">
                <app-form-input [label]="'City'" [placeholder]="'City'" [compulsory]="false" [control]="userGroup.get('city')">
                </app-form-input>
            </div>
            <!--<div class="ui-g-12">-->
            <!--<app-form-select [label]="'Country'" [options]="countries" [compulsory]="false" [control]="userGroup.get('country')">-->
            <!--</app-form-select>-->
            <!--</div>-->
            <!--<div class="ui-g-8 add-session__detail">-->
            <!--<app-form-select [label]="'Time Zone'" [options]="roles" [control]="userGroup.get('time_zone')">-->
            <!--</app-form-select>-->
            <!--</div>-->
            <div class="ui-g-12 add-user__btn-group">
                <app-learnster-button ripple [disabled]="!userGroup.valid"
                                      title="Save"
                                      (onClickEvent)="onSubmit()"
                                      newClass="add-user__btn">
                </app-learnster-button>
                <app-learnster-button ripple title="Cancel"
                                      (onClickEvent)="onCancel()"
                                      cancel="true"
                                      newClass="add-user__btn">
                </app-learnster-button>
            </div>
        </app-form-group>
    </div>

    <div class="add-user__bottom" *ngIf="groupsVisible && tab !== 'admins'">
        <app-unitable-results *ngIf="userActive.user" [title]="'Assigned Sessions (Courses)'" [buttonTitle]="'Assign Sessions'"
                              [fieldsSort]="sessionsSort" [showFields]="sessionsFields"  [results]="sessionsResults"
                              (onDelete)="onDeleteSession($event)" [type]="multiField.Sessions"
                              (onOpenSmartSearch)="onOpenSmartSearch($event)" (onSelectSort)="onGetSessionsFields($event)">
            <app-smart-search title="Connect Sessions" [activated]="smartSearch === multiField.Sessions"
                              (onClose)="smartSearch = null" (onSelect)="onSelect($event, multiField.Sessions)"
                              [results]="results" [showFields]="['name', 'id']">
                <div class="filter-holder">


                    <div class="ui-g">
                        <div class="form-group ui-g-7">
                            <input class="form-control" type="text" [(ngModel)]="sessionsSearch.session_name" (keyup)="filterChanged($event)" placeholder="Search Sessions">
                        </div>

                        <div class="date_picker_wrapper ui-g-5" id="datepicker-groups">
                        <span>
                            <img src="../assets/images/icon/ic_calander_black_24px.svg" *ngIf="!sessionsSearch.start_date" alt="calendar">
                            <img src="../assets/images/icon/courses_close.svg" style="cursor: pointer;"
                                 (click)="sessionsSearch.start_date = '';filterChanged($event)" *ngIf="sessionsSearch.start_date" alt="calendar">
                        </span>
                            <p-calendar [(ngModel)]="sessionsSearch.start_date" (onClearClick)="filterChanged($event)" (onSelect)="filterChanged($event)" placeholder="dd mm yyyy" inputStyleClass="datepicker_input"
                                        styleClass="calendar_date" dateFormat="dd mm yy">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="form-group form-group-location">
                        <div class="select_block">
                            <span class="arrow_down_select">&#9662;</span>
                            <select class="form-control no-radius" [(ngModel)]="sessionsSearch.location" (change)="filterChanged($event)">
                                <option value="" selected>Location</option>
                                <option *ngFor="let option of locations"
                                        [value]="option.value">
                                    {{option.name}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="filters-wrapper">
                    <span class="filter-title">
                        <span>Filter</span>
                    </span>

                        <div class="filters-holder">
                            <div class="filters filters-first">
                                <div class="checkbox-holder">
                                    <span class="label">Classroom</span>
                                    <div class="checkbox">
                                        <input type="checkbox" id="classroom" class="checkbox-input" [(ngModel)]="sessionsSearch.classroom" (change)="filterChanged($event)">
                                        <label for="classroom" class="checkbox-label"></label>
                                    </div>
                                </div>
                                <div class="checkbox-holder">
                                    <span class="label">E-Learning</span>
                                    <div class="checkbox">
                                        <input type="checkbox" id="elearning" class="checkbox-input" [(ngModel)]="sessionsSearch.elearning" (change)="filterChanged($event)">
                                        <label for="elearning" class="checkbox-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-smart-search>
        </app-unitable-results>
        <app-unitable-results *ngIf="userActive.user" [title]="'Assigned Groups'" [buttonTitle]="'Assign Groups'"
                              [fieldsSort]="groupsSort" [showFields]="groupsFields" [results]="groupsResults"
                              (onDelete)="onDeleteGroup($event)" [type]="multiField.Groups"
                              (onOpenSmartSearch)="onOpenSmartSearchGroups($event)" (onSelectSort)="onGetGroupsFields($event)">
            <app-smart-search title="Connect Groups" [activated]="smartSearch === multiField.Groups"
                              (onClose)="smartSearch = null" (onSelect)="onSelect($event, multiField.Groups)"
                              [results]="results" [showFields]="['name', 'id']">
                <div class="filter-holder">

                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="groupSearch" (keyup)="filterChanged($event)" placeholder="Search Group">
                    </div>

                </div>
            </app-smart-search>
        </app-unitable-results>
    </div>
</div>