.app-shift-block {
  height: 100%;
}

.content-shifts {
  //max-width: 360px;
  width: 100%;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: #f2f4f7;
  box-sizing: border-box;

  &__title {
    margin-bottom: 16px;
  }

  &__wrapper {
    padding: 16px;


  }

  &__content {

  }
}

.Rounded_Rectangle_53 {
  border-radius: 50%;
  background-color: rgb(33, 148, 81);
  box-shadow: 0px 2px 6px 0px rgba(108, 115, 128, 0.5);
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 64px;
  height: 64px;
  z-index: 797;

  &:focus {
    outline: none;
  }
}

.material-icons {
  color: white;
  font-size: 28px;
}
