<div class="delete-product">
    <div class="delete-product__wrapper">
        <h2 class="delete-product__title">!!!Alert!!!</h2>
        <p class="delete-product__text">Do you really want to delete product?</p>
        <div class="delete-product__navigate">
            <button type="button" 
                    class="btn btn-danger btn-lg" 
                    (click)="deleteProduct()" 
                    [routerLink]="['/products']">Yes</button>
            <button type="button" 
                    class="btn btn-success btn-lg" 
                    (click)="closeForm()" >No</button>
        </div>
    </div>    
</div>