<div class="container" >
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span class="new-product__title">New product</span>
            <form [formGroup]="productForm" 
                  (ngSubmit)="saveForm(productForm.value)"
                  utocomplete="off" 
                  novalidate>
                <div class="new-product__group">
                    <label for="title">Product Title:</label>
                    <input formControlName="title" id="title" type="text" class="form-control"/>
                </div>
                <div class="new-product__group">
                    <label for="description">Description:</label>
                    <input formControlName="description" id="description" type="text" class="form-control"/>
                </div>
                <div class="new-product__group">
                    <label for="price">Price:</label>
                    <input formControlName="price" id="price" type="number" class="form-control"/>
                </div>
                <div class="new-product__group">
                    <label for="imageUrl">Image:</label>
                    <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control"/>
                    <!-- <img [src]="newProductForm.controls?.imageUrl.value" *ngIf="newProductForm.controls?.imageUrl?.valid" class="new-product__image"/> -->
                </div>
                <button type="submit" class="btn btn-primary" [routerLink]="['/products']" >Save</button>
                <button type="button" class="btn btn-danger" [routerLink]="['/products']" (click)="deleteProduct()">Delete</button>
                <button type="button" class="btn btn-default" [routerLink]="['/products']">Cancel</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>