.activity {
    box-sizing: border-box;
    color: $partners--text-col;
    font-family: montserratbold, sans-serif;
    margin: 0 auto;
    max-width: 320px;
    padding-top: 38px;
    text-align: center;
}
