.activity {
    box-sizing: border-box;
    color: $partners--text-col;
    font-family: montserratbold, sans-serif;
    margin: 0 auto;
    max-width: 320px;
    padding: 38px 10px 0;
    text-align: center;

    &--title {
        font-size: 22px;
        margin-bottom: 18px;
        &__footer {
            margin-top: 40px;
        }
    }
    &--text {
        font-family: robotolight, sans-serif;
        font-size: 18px;
        margin-bottom: 16px;
    }
}
