//body
$body--bc: rgb(255, 255, 255);

//header
$header--but-border: rgb(255, 255, 255);
$header--but-bc: rgba(255, 255, 255, .2);
$header--but-bc2: rgb(255, 78, 80);
$header--but-col: rgb(255, 255, 255);
$header--text-col: rgb(255, 255, 255);

//info
$header--bc: rgb(255, 78, 80);
$info--text-col: rgb(51, 51, 51);
$info--text-col2: rgb(255, 255, 255);
$info--text-col3: rgb(204, 204, 204);

// partners
$partners--but-border: rgb(255, 78, 80);
$partners--text-col: rgb(51, 51, 51);
$partners--text-col2: rgb(102, 102, 102);
$partners--text-col3: rgb(255, 78, 80);
//footer
