// * {
//     box-sizing: border-box;
// }

body {
    background-color: $body--bc;
    font-family: montserratbold, sans-serif;
    height: 100%;
    width: 100%;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
