.footer {
    max-width: 1440px;
    padding-top: 38px;

    &--title {
        margin-left: 275px;
    }

    &--menu {
        margin-left: 92px;
    }

    &--nav {
        margin-bottom: 0;
        margin-top: 17px;
    }

    &--partners {
        margin-left: 89px;
    }

    &--logo {
        margin-left: 364px;
        margin-top: 1px;
    }
}
