.footer {
    max-width: 768px;
    text-align: left;
    padding-top: 37px;

    &__title {
        letter-spacing: 1px;
        margin-top: 0;
        margin-left: 40px;
        display: inline-block;
        vertical-align: top;
    }

    &__menu {
        display: inline-block;
        margin-left: 78px;
    }

    &__company {
        margin-top: 0;
    }

    &__nav {
        margin-bottom: 0;
        margin-top: 17px;
    }

    &__list {
        margin-bottom: 11px;
        display: block;
    }

    &__partners {
        display: inline-block;
        margin-left: 100px;
        vertical-align: top;
    }

    &__logo {
        display: inline-block;
        margin-left: 115px;
        margin-top: 2px;
        vertical-align: top;
    }
}
