.info {
    max-width: 768px;
    padding: 96px 10px 0;

    &--title {
        margin-left: 6px;
        margin-bottom: 36px;
    }

    &--step {
        float: left;
        background-image: url('../img/step--step1__mobile.png');
        background-repeat: no-repeat;

        margin-right: 20px;
        max-width: 301px;
        padding-left: 20px;
        padding-top: 69px;
        text-align: left;
    }

    &--step__2 {
        background-image: url('../img/step--step2__mobile.png');
        padding-top: 99px;
        padding-bottom: 2px;
        .info--text {
            padding-right: 10px;
            letter-spacing: 0.1px;
            margin-top: 9px;
            line-height: 16.7px;
        }
    }

    &--step__3 {
        background-image: url('../img/step--step3__mobile.png');
        margin-left: 0;
    }

    &--stepNum {
        background-color: $header--bc;
        border-radius: 20px;
        color: $info--text-col2;
        font-family: montserratregular, sans-serif;
        font-size: 10px;
        letter-spacing: 2px;
        padding: 5px 15px;
        padding-right: 12px;
        text-transform: uppercase;
    }

    &--tagline {
        color: $info--text-col2;
        font-size: 24px;
        line-height: 28.8px;
        margin-top: 20px;

    }

    &--text {
        color: $info--text-col3;
        font-family: robotolight, sans-serif;
        font-size: 14px;
        line-height: 16.8px;
        margin-top: 11px;
        padding-right: 5px;
        padding-bottom: 16px;
    }
}
