.info {
    max-width: 1440px;
    padding: 97px 10px 0;

    &--title {
        margin-bottom: 36px;
        margin-left: -4px;
    }

    &--img__768 {
        display: none !important;
    }

    &--img__1440 {
        display: block !important;
    }

    &--stepNum {

        &__768 {
            top: 230px;
        }
    }

    &--tagline {

        &__768 {
            right: 95px;
            top: 265px;
        }
    }

    &--text {

        &__768 {
            bottom: 15px;
            &_2 {
                bottom: 32px;
            }
        }
    }
}

// bxslider
.bx-wrapper {
    margin-right: 15px;
    max-width: 300px !important;

    &:last-child {
        margin-right: 0;
    }

    .bx-prev {
        background: url('./../img/info--control.png') no-repeat 0 0;
        left: 18px;
    }

    .bx-next {
        background: url('./../img/info--control.png') no-repeat -32px 0;
        right: 18px;
    }

    .bx-controls-direction a {
        margin-top: 98px;
    }
}
