// Masonry

.grid {
    height: auto !important;

    .grid-item {
        margin: 0;
        position: relative;
        width: 200px;

        &--width2 {
            width: 360px;
        }
    }

    &--text {
        font-size: 22px;
        left: 50%;
        top: 50%;
    }

    &--img {
        width: initial;
    }
}
