// Masonry

.grid {
    height: auto !important;

    .grid-item {
        margin: 0 auto 10px;
        position: relative;
        width: 200px;

        &--width2 {
            width: 400px;
        }
    }

    &--text {
        color: #ededed;
        font-family: montserratbold, sans-serif;
        font-size: 16px;
        left: 50px;
        position: absolute;
        top: 20px;
        width: 100px;
    }

    &--img {
        width: 200px;
    }
}
