@import "../../assets/styles/variables";

sw-app-contact-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  align-items: center;
  box-sizing: border-box;

  .contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0 24px;
      align-items: center;
      box-sizing: border-box;
      overflow: auto;
      position: relative;
    }
  }
}
