/**/
@font-face {
    font-family: 'scriptinaregular';
    src: url('../font/scriptin-webfont.eot');
    src: url('../font/scriptin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/scriptin-webfont.woff') format('woff'),
         url('../font/scriptin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/**/
@font-face {
    font-family: 'alegreyaregular';
    src: url('../font/alegreya-regular-webfont.eot');
    src: url('../font/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-regular-webfont.woff2') format('woff2'),
         url('../font/alegreya-regular-webfont.woff') format('woff'),
         url('../font/alegreya-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreyablack';
    src: url('../font/alegreya-black-webfont.eot');
    src: url('../font/alegreya-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-black-webfont.woff2') format('woff2'),
         url('../font/alegreya-black-webfont.woff') format('woff'),
         url('../font/alegreya-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyablack_italic';
    src: url('../font/alegreya-blackitalic-webfont.eot');
    src: url('../font/alegreya-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-blackitalic-webfont.woff2') format('woff2'),
         url('../font/alegreya-blackitalic-webfont.woff') format('woff'),
         url('../font/alegreya-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/**/
@font-face {
    font-family: 'alegreyabold';
    src: url('../font/alegreya-bold-webfont.eot');
    src: url('../font/alegreya-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-bold-webfont.woff2') format('woff2'),
         url('../font/alegreya-bold-webfont.woff') format('woff'),
         url('../font/alegreya-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyabold_italic';
    src: url('../font/alegreya-bolditalic-webfont.eot');
    src: url('../font/alegreya-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-bolditalic-webfont.woff2') format('woff2'),
         url('../font/alegreya-bolditalic-webfont.woff') format('woff'),
         url('../font/alegreya-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreyaitalic';
    src: url('../font/alegreya-italic-webfont.eot');
    src: url('../font/alegreya-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alegreya-italic-webfont.woff2') format('woff2'),
         url('../font/alegreya-italic-webfont.woff') format('woff'),
         url('../font/alegreya-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displayblack';
    src: url('../font/playfairdisplay-black-webfont.eot');
    src: url('../font/playfairdisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-black-webfont.woff') format('woff'),
         url('../font/playfairdisplay-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayblack_italic';
    src: url('../font/playfairdisplay-blackitalic-webfont.eot');
    src: url('../font/playfairdisplay-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-blackitalic-webfont.woff') format('woff'),
         url('../font/playfairdisplay-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/**/
@font-face {
    font-family: 'playfair_displaybold';
    src: url('../font/playfairdisplay-bold-webfont.eot');
    src: url('../font/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../font/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../font/playfairdisplay-bolditalic-webfont.eot');
    src: url('../font/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../font/playfairdisplay-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../font/playfairdisplay-italic-webfont.eot');
    src: url('../font/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../font/playfairdisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../font/playfairdisplay-regular-webfont.eot');
    src: url('../font/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../font/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../font/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/**/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../font/proxima-nova-58e030f8066af-webfont.eot');
    src: url('../font/proxima-nova-58e030f8066af-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proxima-nova-58e030f8066af-webfont.woff2') format('woff2'),
         url('../font/proxima-nova-58e030f8066af-webfont.woff') format('woff'),
         url('../font/proxima-nova-58e030f8066af-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
