.content {

    &__task {

        &__new-task {

            &--list {
                background-color: rgb(255, 255, 255);
                margin-top: 1px;
                margin-bottom: 1px;
            }

            &--hide {
                background-color: rgba(255, 255, 255, .55);
            }
        }
        
        &__text {
            
            &--list {
                color:rgb(38, 38, 38);
            }

            &--hide {
                text-decoration: line-through;
                color: rgba(102, 137, 100, .75);
            }
        }

        &__img {

            &--star {
                float: right;
                margin-top: 15px;
                margin-right: -2px;
                
                &--flag {
                    float: right;
                    margin-top: 2px;
                    margin-right: -3px;

                }
            }
        }
    }

}

