<div class="about-env">

  <ng-template #preloader>
    <div class="spinner-absolute-center">
      <cad-spinner size="medium"></cad-spinner>
    </div>
  </ng-template>

  <div *ngIf="!isLoading; else preloader">
    <div class="cad-row mb-10">
      <div class="column column-25">
        <span class="title title_6">{{ 'left_menu.about.environment' | translate }}:</span>
      </div>
      <div class="column column-75">
        <span class="title title_6 title_thin">{{ envUrl }}</span>
      </div>
    </div>

    <div class="cad-row" *ngFor="let item of items">
      <div class="column column-25">
        <span class="title title_7">{{ item.title }}</span>
      </div>
      <div class="column column-30">
        <span class="title title_7">API: {{ (item.api$ | async) || ('global.na' | translate) }}</span>
      </div>
      <div class="column column-45">
        <span class="title title_7">UI: {{ (item.ui$ | async) || ('global.na' | translate) }}</span>
      </div>
    </div>
  </div>

</div>
