<div class="container" 
     *ngIf="!isDeleteFormOpened()" >    
    <div class="row product__title">
        <div class="col-md-12">
            <span class="product__title">{{product?.title}} </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" >
            <img [src]="product?.imageUrl" 
                 [alt]="product?.title" 
                 class="product__image"
                 *ngIf="product.imageUrl != 'http://localhost:8080/tools/new'
                        && product.imageUrl != ''">
        </div>
        <div class="col-md-7">
            <span class="product__description">{{product?.description}}</span>
            <span>Price:</span> 
            <span class="product__price">{{product?.price | currency:"USD":true}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button type="button" 
                    class="btn btn-info" 
                    [routerLink]="['/tools/edit']" 
                    (click)="editProduct()" >Edit product</button>
            <button type="button" 
                    class="btn btn-danger" 
                    (click)="deleteProduct()" >Delete product</button>
        </div>
    </div>
</div>
<delete-product-popup *ngIf="isDeleteFormOpened()" 
                [product]="product" > 
</delete-product-popup>