:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    flex-grow: 1;
    position: relative;
    align-items: center;
}

.small-list {
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-width: 1024px;

  &__toolbar {
    padding-top: 8px;
  }

  &__row {
    padding: 18px 18px 21px 24px;
    color: rgba(108, 115, 128, 1);
    font-size: 14px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(218, 222, 230, 1) 1px solid;
    box-sizing: border-box;
  }

  &__group {
    font-size: 16px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #39404c;
  }

  &__icon {
    margin-right: -8px;
    color: #39404c;
  }
}
