<div class="small-list">
  <app-small-spinner [ngClass]="{'global__element-display' : spinner}"
                     class="global__element-display-none">
  </app-small-spinner>
  <button mat-raised-button
          *ngFor="let list of lists" class="global__element-display-none"
          [ngClass]="{'global__element-display' : schedule}"
          (click)="onClickAction(list)">
    <span class="small-list__group">{{list.description | capitalizeFirst}}</span>
    <i class="small-list__icon material-icons">keyboard_arrow_right</i>
  </button>
  <mat-toolbar class="small-list__toolbar global__element-display-none"
               [ngClass]="{'global__element-display' : toggle}">
    <mat-toolbar-row class="small-list__row" *ngFor="let list of lists">
      <span class="small-list__group">{{list.description | capitalizeFirst}}</span>
      <mat-slide-toggle class="global__element-display-none"
                        [ngClass]="{'global__element-display' : toggle}"
                        [checked]="list.checked"
                        (change)="onToggle($event, list.id)"></mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
