<!--<mat-list class="shift-block">-->
    <!--<mat-list-item class="shift-block__wrapper">-->
        <!--<div class="shift-block__content">-->
            <!--<span>{{shift.Job}}</span>-->
            <!--<span>{{shift.dateFrom}}</span>-->
            <!--<span>Unit name {{'m+1'}}</span>-->

        <!--</div>-->
        <!--<div>-->
            <!--<span></span>-->
            <!--<i class="material-icons">keyboard_arrow_right</i>-->
        <!--</div>-->
    <!--</mat-list-item>-->
    <!--<mat-divider></mat-divider>-->
<!--</mat-list>-->


<!--<button mat-button class="shift-block">-->

  <!--<div class="shift-block__wrapper">-->
    <!--<div class="shift-block__content">-->
      <!--<span>{{shift.Job}}</span>-->
      <!--<span>{{shift.dateFrom}}</span>-->
      <!--<span>Unit name {{'m+1'}}</span>-->
    <!--</div>-->
    <!--<i class="material-icons">keyboard_arrow_right</i>-->
  <!--</div>-->
<!--</button>-->

<button mat-raised-button class="shift-block">
  <div class="shift-block__wrapper">
    <div class="shift-block__content">
      <span>{{'shift.job'}}</span>
      <span>{{shift.dateFrom}}</span>
      <span>Unit name {{'m+1'}}</span>
    </div>
    <div class="shift-block__icons-wrapper">
      <i class="material-icons shift-block__point">lens</i>
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </div>
</button>
