<div  class="sidebar" [class.sidebar__toggle]="!listToggle" >
    <div class="sidebar__head">
        <img class="sidebar__list-toggle" src="../../assets/img/svg/list-toggle.svg" 
            (click)="clickListToggleFunc()">
    </div>
    <div class="sidebar__toolbar">
        <span class="sidebar__user-avatar">A</span>
        <span class="sidebar__user-name" *ngIf="listToggle" >Aleksey Zolotarenko</span>
        <img class="sidebar__list-toggle sidebar__list-toggle--toolbar" 
            *ngIf="listToggle" src="../../assets/img/svg/bell.svg">
        <img class="sidebar__list-toggle sidebar__list-toggle--toolbar" 
            *ngIf="listToggle" src="../../assets/img/svg/conversations.svg">
    </div>
        <a [routerLink]="['/events']">
            <div class="sidebar__inbox" >
                <img class="sidebar__list-toggle" src="../../assets/img/svg/inbox.svg">
                <img class="sidebar__list-toggle sidebar__list-toggle--vertical" *ngIf="listToggle == false" (click)="listToggleFunc()" 
                    src="../../assets/img/svg/more-vertical.svg">
                <span class="sidebar__inbox__description" *ngIf="listToggle">Входящие</span>
            </div>
        </a>
    <event-list *ngFor="let event of events" 
                [event]="event"
                [listToggle]="listToggle"
                (redPencilName)="clickRedPancilName($event)">        
    </event-list> 
    <div class="sidebar__list-new" [class.sidebar__toggle]="!listToggle">
        <img class="sidebar__list-toggle" src="../../assets/img/svg/plus.svg">
        <span class="sidebar__list-new__description" *ngIf="listToggle">Создать список</span>
    </div>
</div>