<div  class="sidebar" [class.sidebar__toggle]="!listToggle" >
    <div class="sidebar__head">
        <img class="sidebar__list-toggle sidebar__list-toggle--toggle" 
             src="../../assets/img/svg/list-toggle.svg" 
             (click)="clickListToggleFunc()">
            <!-- <form class="sidebar__list-form"
                id="searchForm"
                (ngSubmit)="searchItemsFunc(searchItems)" 
                autocomplete="off" novalidate 
                *ngIf="listToggle" >
                <input [(ngModel)]="searchItems"
                       name="searchItems"
                       id="search"
                       type="text">
                <label for="search"><img class="sidebar__list-toggle" src="../../assets/img/svg/search.svg"></label>
            </form> -->
            <search-bar></search-bar>
    </div>
    <div class="sidebar__toolbar">
        <span class="sidebar__user-avatar">A</span>
        <span class="sidebar__user-name" *ngIf="listToggle" >Aleksey Zolotarenko</span>
        <img class="sidebar__list-toggle sidebar__list-toggle--toolbar" 
            *ngIf="listToggle" src="../../assets/img/svg/bell.svg">
        <img class="sidebar__list-toggle sidebar__list-toggle--toolbar" 
            *ngIf="listToggle" src="../../assets/img/svg/conversations.svg">
    </div>
    <div class="event-list">
        <a [routerLink]="['/events']">
            <div class="sidebar__inbox" >
                <img class="sidebar__list-toggle" src="../../assets/img/svg/inbox.svg">
                <img class="sidebar__list-toggle sidebar__list-toggle--vertical" 
                    *ngIf="listToggle == false" 
                    (click)="clickListToggleFunc()" 
                    src="../../assets/img/svg/more-vertical.svg">
                <span class="sidebar__inbox__description" *ngIf="listToggle">Входящие</span>
            </div>
        </a>
        <event-list *ngFor="let event of events" 
                    [event]="event"
                    [listToggle]="listToggle"
                    (redPencilName)="clickRedPencilName($event)">        
        </event-list> 
        
    </div>
    <div class="sidebar__list-new" [class.sidebar__toggle]="!listToggle" (click)="creatNewLists()">
        <img class="sidebar__list-toggle" src="../../assets/img/svg/plus.svg" >
        <span class="sidebar__list-new__description" *ngIf="listToggle" >Создать список</span>
    </div>
</div>