.shifts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__app-header {
    padding-top: 150px;
    width: 100%;
    height: 240px;
    background-color: #222a51;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    max-width: 640px;
  }
}
