@media screen and (max-width: 768px) {

    .header__wrapper,
    .box1__wrapper,
    .box2__wrapper,
    .box3__wrapper,
    .box4__wrapper,
    .footer__wrapper{
        max-width: 768px;
        }
    .logo{
        padding-left: 8px;
        padding-top: 74px;
    }

    .nav{
        margin-left: 3px;
        margin-top: 35px;
    }
    .slider{
        margin-top: 93px;
    }
    .slider__p{
        font-size: 48px;        margin-left: 31px;        letter-spacing: -0.7px;    }
    .slider__p--span1{
        margin-top: 23px;        display: block;        font-size: 24px;        letter-spacing: -0.3px;    }
    .slider__p--span2{
        
    }

}
