body{
    background-color: #fff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper{
    width: 2400px;
    margin: 0 auto;
    color: #f9f9f9;
}

/*header*/

header{
    height: 846px;
    box-sizing: border-box;
    background: url(../img/bg-header.jpg) no-repeat;
    background-position-x: center;
    position: relative;

}

.header__box{
    display: block;
    width: 960px;
    margin: 0 auto;
}

.logo{
    display: block;
    padding-top: 73px;
    font-size: 48px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #ffffff;
    line-height: 0.703;
    letter-spacing: -0.5px;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo__span{
    color: #745083;
    color: -moz-linear-gradient(top,  #745083 0%, #322539 100%);
    color: -webkit-linear-gradient(top,  #745083 0%,#322539 100%);
    color: linear-gradient(to bottom,  #745083 0%,#322539 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
    text-shadow: none;
 }

.nav{
    margin-top: -32px;
    margin-left: 322px;
}

 .nav__li{
     display: inline-block;
     box-sizing: border-box;
     margin-right: 37px;
     white-space: nowrap;
 }

 .nav__li--space{
     letter-spacing: -0.2px;
     margin-left: 1px;
}

.nav__li--6 {
    margin-right: -12px;
}

.nav__a{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 0 5px;
}

.nav__a:hover {
    border-bottom: 2px solid #edbfff;
}

.slider{
    display: block;
    position: absolute;
    margin-top: 179px;
    width: 100%;
    height: 400px;
    z-index: 20;
}

.slider-opasity {
    display: block;
    margin-top: 179px;
    background-color: #000;
    opacity: 0.2;
    height: 400px;
    z-index: 10;
}

.slider__box{
    display: block;
    width: 960px;
    margin: 0 auto;


}

.slider__p{
    display: block;
    float: left;
    font-size: 60px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #fefefe;
    text-transform: capitalize;
    line-height: 0.6;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 91px;
    margin-left: 0px;
    letter-spacing: -1px;
    z-index: 30;
}

.slider__p--span1{
    font-size: 32px;
    color: #edbfff;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}

.slider__p--span2{
    display: block;
    font-size: 18px;
    color: #fff;
    text-transform: none;
    font-family: "OpenSansLight", sans-serif;
    margin-top: 13px;
    letter-spacing: -0.1px;
    line-height: 1.35;
}

.iphone{
    float: right;
    display: block;
    z-index: 50;
    position: relative;
    margin-right: 70px;
    margin-top: -17px;
}

.iphone-copy{
    float: right;
    display: block;
    z-index: 40;
    margin-top: 62px;
    margin-right: -55px;
}

.circle{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 149px;
    left: 60px;

}

.circle__2{
    display: block;
    border-radius: 50%;
    background-color: rgb(203, 165, 218);
    opacity: 0.8;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 13px;
    left: 13px;

}

.circle__3{
    content:'\25BA';
    font-size: 14px;
    color: #114165;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 13px;
    left: 13px

}

.Shape_14 {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  position: absolute;
  left: 1470px;
  top: 408px;
  width: 74px;
  height: 74px;
  z-index: 108;
}



/*Box1*/

.box1{
    height: 342px;
    box-sizing: border-box;
    padding: 0 720px;
    background: #745083;
    background: -moz-linear-gradient(top,  #745083 0%, #322539 100%);
    background: -webkit-linear-gradient(top,  #745083 0%,#322539 100%);
    background: linear-gradient(to bottom,  #745083 0%,#322539 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
}

.box2{
    height: 486px;
    box-sizing: border-box;
    padding: 0 720px;
}

.box3{
    height: 122px;
    box-sizing: border-box;
    padding: 0 720px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.box4{
    height: 396px;
    box-sizing: border-box;
    padding: 0 720px;
    background: #ececec;
}

footer{
    height: 114px;
    box-sizing: border-box;
    padding: 0 720px;
    background: url(../img/bg-footer.jpg) no-repeat;
}
