body{
    background-color: #fff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper{
    max-width: 2400px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #f9f9f9;
}

/*header*/

header{
    height: 846px;
    box-sizing: border-box;
    background: url(../img/bg-header.jpg) no-repeat;
    background-position-x: center;
    position: relative;

}

.header__wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.header__box{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo{
    display: block;
    padding-top: 73px;
    font-size: 48px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #ffffff;
    line-height: 0.703;
    letter-spacing: -0.5px;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo__span{
    color: #745083;
    color: -moz-linear-gradient(top,  #745083 0%, #322539 100%);
    color: -webkit-linear-gradient(top,  #745083 0%,#322539 100%);
    color: linear-gradient(to bottom,  #745083 0%,#322539 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
    text-shadow: none;
 }

.nav{
    margin-top: -32px;
    margin-left: 322px;
}

 .nav__li{
     display: inline-block;
     box-sizing: border-box;
     margin-right: 37px;
     white-space: nowrap;
 }

 .nav__li--space{
     letter-spacing: -0.2px;
     margin-left: 1px;
}

.nav__li--6 {
    margin-right: -12px;
}

.nav__a{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 0 5px;
}

.nav__a:hover {
    border-bottom: 2px solid #edbfff;
}

.slider{
    display: block;
    box-sizing: border-box;
    margin-top: 179px;
    width: 100%;
    height: 400px;
    z-index: 20;

}

.slider-opasity {
    display: block;
    margin-top: -510px;
    background-color: #000;
    opacity: 0.2;
    height: 400px;
    z-index: 10;
    max-width: 2400px;
}

.slider__box{
    display: block;
    width: 100%;
    margin: 0 auto;


}

.slider__p{
    display: block;
    float: left;
    font-size: 60px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #fefefe;
    text-transform: capitalize;
    line-height: 0.6;
    text-align: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 91px;
    margin-left: 0px;
    letter-spacing: -1px;
    z-index: 30;
}

.slider__p--span1{
    font-size: 32px;
    color: #edbfff;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}

.slider__p--span2{
    display: block;
    font-size: 18px;
    color: #fff;
    text-transform: none;
    font-family: "OpenSansLight", sans-serif;
    margin-top: 13px;
    letter-spacing: -0.1px;
    line-height: 1.35;
}

.iphone{
    float: right;
    display: block;
    z-index: 50;
    position: relative;
    margin-right: 70px;
    margin-top: -17px;
}

.iphone-copy{
    float: right;
    display: block;
    z-index: 40;
    margin-top: 62px;
    margin-right: -55px;
}

.circle{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 149px;
    left: 60px;

}

.circle__2{
    display: block;
    border-radius: 50%;
    background-color: rgb(203, 165, 218);
    opacity: 0.8;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 13px;
    left: 13px;

}

.circle__3{
    font-size: 36px;
    color: #fff;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 22px;
    left: 25px;
}

.slider:after{
    content: '\203A';
    font-size: 73px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 432px;
    right: 400px;
}

.slider:before{
    content: '\2039';
    font-size: 73px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 432px;
    left: 400px;
}

.navigation{
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 94px;
    padding-left: 705px;
}

.navigation__circle{
    display: block;
    box-sizing: border-box;
    float: left;
    margin-left: 6px;
    background-color: #000;
    opacity: 0.302;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.navigation__circle:focus{
    background-color: #fff;
    border: 3px solid #000;
}

/*Box1*/

.box1{
    width: 100%;
    box-sizing: border-box;
    background: #745083;
    background: -moz-linear-gradient(top,  #745083 0%, #322539 100%);
    background: -webkit-linear-gradient(top,  #745083 0%,#322539 100%);
    background: linear-gradient(to bottom,  #745083 0%,#322539 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
}

.box1__wrapper{
    max-width: 960px;
    margin: 0 auto;
    color: #fff;

}

.info{
    display: block;
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding-right: 20px;
    padding-top: 76px;
}

.info--2{
    padding-right: 0px;
    padding-left: 22px;
}

.info--3{
    padding-left: 33px;    float: right;    padding-right: 0;}

.info::before{
    display: block;
    content: '';
    width: 31px;
    height: 31px;
    background-image: url(../img/info.png);
    background-repeat: no-repeat;
    float: left;
    margin: 4px 22px 115px 7px;
}

.info--2::before{
    background-position: 131px 0px;
}

.info--3::before{
    background-position: 163px 0px;
}

.info__title{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
    letter-spacing: -0.3px;
}

.info__main{
    font-family: "OpenSansLight", sans-serif;
    display: block;
    font-size: 16px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
    line-height: 1.5;
    letter-spacing: -0.1px;
    margin-top: 7px;
}

.info__readmore{
    display: block;
    font-size: 18px;
    font-family: "LeagueGothicRegular", sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-top: 7px;
    margin-right: 21px;
    float: right;
    margin-bottom: 68px;
}

.info__readmore--2{
    margin-right: 15px;}

.info__readmore--3{
    margin-right: 4px;}

.info__readmore:hover{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/*Box2*/

.box2{
    width: 100%;
    background-color: #f9f9f9;
}

.box2__wrapper{
    width: 960px;
    margin: 0 auto;
}

.vacancy{
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-top: 101px;
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 40px;
    letter-spacing: -0.1px;
    background-image: url(../img/fon_vacancy.png);
    background-repeat: no-repeat;
}

.vacncy__logo{
    font-family: "LeagueGothicRegular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.vacncy__logo--title{
    color: #edbfff;
}

.vacancy__main{
    display: block;
    box-sizing: border-box;
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    color: #454545;
    padding-top: 9px;
    padding-right: 90px;
    line-height: 1.5;
    letter-spacing: -0.05px;
}

.navigation--vacancy{
    padding-left: 128px;
    padding-top: 62px;
    }

.navigation__circle--vacancy{
    border: 1px solid #454545;
    background-color: #e6e6e6;
    margin-left: 6px;
    width: 16px;
    height: 16px;
}

.navigation__circle--vacancy:focus{
    /*background-image: url(../img/point_vacancy.png);
    background-repeat: no-repeat;
    background-position: -1.8px -1.4px;*/
    background: #8a8a8a;
    background: -webkit-linear-gradient(#8a8a8a 0%, #454545 100%);
    background: -o-linear-gradient(#8a8a8a 0%, #454545 100%);
    background: linear-gradient(#8a8a8a 0%, #454545 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#454545',GradientType=0 );

    border: 1px solid #454545;

}




.updates{
    display: block;
    box-sizing: border-box;
    float: right;
    width: 50%;
    height: 525px;
}

.box3{
    height: 122px;
    box-sizing: border-box;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.box4{
    height: 396px;
    box-sizing: border-box;
    background: #ececec;
}

footer{
    height: 114px;
    box-sizing: border-box;
    background: url(../img/bg-footer.jpg) no-repeat;
}
