<main class="main-page">
    <h1 appProjectTitleStyle>Hello from Angular 4.4 App with Webpack 3.10</h1>

    <div>
        <img src="../../../assets/img/angular.png">
    </div>
    <app-project-button (onClickEvent)="helloAngular()" title="Push me">

    </app-project-button>
    <!--<div>-->
        <!--<app-project-select></app-project-select>-->
    <!--</div>-->
    <hr>
    <img src="../../../assets/img/svg/partners__airplane.svg">
    <img src="../../../assets/img/svg/partners__cup.svg">
    <img src="../../../assets/img/svg/partners__flask.svg">
    <img src="../../../assets/img/svg/partners__tv.svg">
    <br/>
    <div class="div"></div>
    <div class="div--img"></div>
</main>