<cad-panel headTitle="Dropdown">
  <div cad-panel-content>

    <div class="examples__params">
      <ul>
        <li><strong>[title]: string</strong> - title text of dropdown (by default title is outputted in tooltip)</li>
        <li><strong>[size]: DropdownSizes = 'default'</strong> - different dropdown sizes ('default' | 'small' | 'big' | 'huge')</li>
        <li><strong>[type]: DropdownTypes = 'default'</strong> - different dropdown types ('default' | 'boxed' | 'primary')</li>
        <li><strong>[color]: DropdownColors = 'default'</strong> - dropdown head color ('default' | 'blue' | 'white' | 'grey')</li>
        <li><strong>[contentColor]: DropdownContentColors = 'default'</strong> - dropdown content background color ('default' | 'grey')</li>
        <li><strong>[iconName]: string = 'arrow-down'</strong> - custom dropdown icon</li>
        <li><strong>[placement]: DropdownPlacements = 'bottom-right'</strong> - where dropdown is appear ('top-left' | 'top-right' | 'bottom-left' | 'bottom-right')</li>
        <li><strong>[autoClose]: boolean = true</strong> - to close by clicking outside dropdown or by pressing ESC button</li>
        <li><strong>[isOpened]: boolean = false</strong> - to manually open dropdown</li>
        <li><strong>[closeOnChange]: boolean = false</strong> - should dropdown be closed, after ngModel change</li>
        <li><strong>[isCustomTooltipText]: boolean = false</strong> - is custom tooltip text?</li>
        <li><strong>[customTooltipText]: string</strong> - text for custom tooltip, could be HTML</li>
        <li><strong>(onToggle): EventEmitter&lt;boolean&gt;</strong> - trigger when dropdown is opened/closed</li>
      </ul>
      <br/>
      <div class="examples__params__note">
        Dropdown component implements <strong>ControlValueAccessor</strong>
      </div>
    </div>

    <textarea class="examples__copy" rows="8" ngNonBindable>
      <cad-dropdown [(ngModel)]="ddValue"
                    [disabled]="isDisabled"
                    name="ddValue"
                    required
                    [title]="title"
                    [size]="size"
                    [type]="type"
                    [color]="color"
                    [contentColor]="contentColor"
                    [closeOnChange]="closeOnChange"
                    [placement]="placement"
                    [isOpened]="isOpened"
                    [isCustomTooltipText]="isCustomTooltipText"
                    [customTooltipText]="customTooltipText"
                    (onToggle)="toggle($event)">
        <div cad-dropdown-head>
          custom title, when omitted default title is used
        </div>

        <div cad-dropdown-body [style.padding.px]="20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate enim ex harum incidunt laborum, numquam quidem quis voluptates. Ad aperiam autem commodi eaque eum exercitationem, in nisi tempora vel?
          <br/><br/>

          <input class="input" [(ngModel)]="ddValue">
        </div>
      </cad-dropdown>
    </textarea>

    <div class="cad-row">
      <div class="column column-30">
        <div class="mb-15">
          <div class="title title_6 title_thin mb-10">Dropdown width:</div>
          <input class="mb-15" type="range" min="1" max="700" [(ngModel)]="dropdownWidth" />
        </div>

        <div class="mb-15">
          <div class="title title_6 title_thin mb-10">Title:</div>
          <input class="input" placeholder="title" [(ngModel)]="title">
        </div>

        <div class="mb-15">
          <span class="title title_6 title_thin">Size</span>
          <select [(ngModel)]="size">
            <option value="small">Small</option>
            <option value="default">Default</option>
            <option value="big">Big</option>
            <option value="huge">Huge</option>
          </select>
        </div>

        <div class="mb-15">
          <span class="title title_6 title_thin">Type</span>
          <select [(ngModel)]="type">
            <option value="default">Default</option>
            <option value="boxed">Boxed</option>
            <option value="primary">Primary</option>
          </select>
        </div>

        <div class="mb-15">
          <span class="title title_6 title_thin">Color</span>
          <select [(ngModel)]="color">
            <option value="default">Default</option>
            <option value="blue">Blue</option>
            <option value="white">White</option>
            <option value="grey">Grey</option>
          </select>
        </div>

        <div class="mb-15">
          <span class="title title_6 title_thin">Content Color</span>
          <select [(ngModel)]="contentColor">
            <option value="default">Default</option>
            <option value="grey">Grey</option>
          </select>
        </div>


        <div class="mb-15">
          <div class="title title_6 title_thin mb-10">Custom tooltip text:</div>
          <label><input type="checkbox" [(ngModel)]="isCustomTooltipText" /> Custom Tooltip Text</label>
          <textarea rows="3"
                    [disabled]="!isCustomTooltipText"
                    [(ngModel)]="customTooltipText"
                    [style.width.%]="100"></textarea>
          <span>(leave empty to hide tooltip)</span>
        </div>


        <div class="mb-15">
          <span class="title title_6 title_thin">Placement</span>
          <select [(ngModel)]="placement">
            <option value="top-left">Top Left</option>
            <option value="top-right">Top Right</option>
            <option value="bottom-left">Bottom Left</option>
            <option value="bottom-right">Bottom Right</option>
          </select>
        </div>

        <div class="mb-15">
          <label><input type="checkbox" [(ngModel)]="isDisabled" /> Disabled</label>
        </div>

        <div class="mb-15">
          <label><input type="checkbox" [(ngModel)]="isOpened"> Open (manually control opening)</label>
        </div>

        <div class="mb-15">
          <label><input type="checkbox" [(ngModel)]="closeOnChange"> closeOnChange</label>
        </div>

      </div>

      <div class="column column-70"
           [style.backgroundColor]="color === 'white' ? 'orange' : 'white'">

        <div [style.width.px]="dropdownWidth">

          <cad-dropdown [(ngModel)]="ddValue"
                        name="ddValue"
                        required
                        [title]="title"
                        [size]="size"
                        [type]="type"
                        [color]="color"
                        [closeOnChange]="closeOnChange"
                        [contentColor]="contentColor"
                        [placement]="placement"
                        [disabled]="isDisabled"
                        [isOpened]="isOpened"
                        [isCustomTooltipText]="isCustomTooltipText"
                        [customTooltipText]="customTooltipText"
                        (onToggle)="toggle($event)">
            <div cad-dropdown-body [style.padding.px]="20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate enim ex harum incidunt laborum, numquam quidem quis voluptates. Ad aperiam autem commodi eaque eum exercitationem, in nisi tempora vel?
              <br/><br/>

              <input class="input" [(ngModel)]="ddValue">
            </div>
          </cad-dropdown>

          <cad-dropdown [(ngModel)]="ddValue"
                        name="ddValue"
                        required
                        [title]="title"
                        [size]="size"
                        [type]="type"
                        [color]="color"
                        [contentColor]="contentColor"
                        [placement]="placement"
                        [disabled]="isDisabled"
                        [closeOnChange]="closeOnChange"
                        [isOpened]="isOpened"
                        [isCustomTooltipText]="isCustomTooltipText"
                        [customTooltipText]="customTooltipText"
                        (onToggle)="toggle($event)">
            <div cad-dropdown-head>
              dropdown with custom title
            </div>

            <div cad-dropdown-body [style.padding.px]="20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate enim ex harum incidunt laborum, numquam quidem quis voluptates. Ad aperiam autem commodi eaque eum exercitationem, in nisi tempora vel?
              <br/><br/>

              <input class="input" [(ngModel)]="ddValue">
            </div>
          </cad-dropdown>
        </div>

      </div>
    </div>

  </div>
</cad-panel>
