@import '../../../shared/style/custom';

.add-user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

    &__form-uploader {
        position: absolute;
        right: 0px;
    }

    &__btn {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 15px;
    }

    &__btn-group {
        display: flex;
        justify-content: space-around;

      &:first-child {
        margin-right: 20px;
      }
    }

    &__has-error {
        border-color: #fe7e0c;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 126, 12, 0.6);
    }

    &__bottom {
        margin: auto;


        .filter-holder {

            .form-group-location{
                margin-top: 10px !important;

                label {
                    font-weight: 600;
                    color: #aac5cf;
                    margin-bottom: .3rem;
                    font-size: 14px;
                }

                .select_block {
                    position: relative
                }

                select {
                    color: #607d8b;
                    border-radius: 5px;
                    height: 40px!important;
                    -webkit-user-select: none;
                    -webkit-appearance: button;
                    cursor: pointer;
                }

                .arrow_down_select {
                    position: absolute;
                    right: 12px;
                    top: 11px;
                    cursor: pointer;
                    pointer-events: none;
                }

                span.input_label-star {
                    color: #ff0012;
                }
            }

            .date_picker_wrapper {
                position: relative;
                font-family: 'Nunito Sans', sans-serif;
                timepicker {
                    table {
                        tbody {
                            tr {
                                td {
                                    a {
                                        transform: rotate(-90deg);
                                        padding: 0;
                                        cursor: pointer;
                                        span {
                                            color: rgba(0, 0, 0, 0.1);
                                            @include transition(all, 0.2s, linear);
                                            &:before {
                                                content: "\276F";
                                            }
                                            &:hover {
                                                color: $tango;
                                            }
                                        }
                                    }
                                    button {
                                        background: rgba(0, 0, 0, 0.1);
                                        border: 0;
                                        border-radius: 50px;
                                        font-size: 11px;
                                        cursor: pointer;
                                        padding: 10.13px 8px 9.13px 8px;
                                        font-weight: 300;
                                        font-family: 'Nunito Sans', sans-serif;
                                        @include transition(all, 0.2s, linear);
                                        &:hover {
                                            background: rgba(0, 0, 0, 0.2);
                                        }
                                        &:focus {
                                            box-shadow: none;
                                        }
                                    }
                                    &.form-group {
                                        input {
                                            border: 1px solid rgba(0, 0, 0, 0.2);
                                            border-radius: 5px;
                                        }
                                    }
                                }
                                &:last-child {
                                    td {
                                        &:nth-child(1) {
                                            transform: rotate(180deg);

                                        }
                                        &:nth-child(3) {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                span img {
                    position: absolute;
                    width: 18px;
                    right: 15px;
                    top: 47px;
                    z-index: 1;
                }
                p-calendar {
                    .ui-widget {
                    }
                    .ui-widget-header {
                        background: $aqua__haze;
                        border: 0;
                    }
                    .ui-datepicker.ui-widget .ui-datepicker-calendar {
                        td {
                            border: 0;
                            a {
                                border-radius: 50%;
                                @include transition(all, 0.3s, linear);
                                &.ui-state-highlight {
                                    background: $tango;
                                    color: $white;
                                }
                            }
                        }
                        thead th {
                            background-color: $white;
                        }
                    }
                    span {
                        width: 100%;
                        input {
                            width: 100%;
                            border-radius: 5px;
                            padding: 10px;
                            height: 40px;
                        }
                    }
                }
            }

            .filters-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 7px;

                .filter-title {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 100%;
                    margin: 0 7px 7px 0;
                    border-bottom: 1px solid;
                }

                .filters-holder {
                    display: flex;
                    flex-direction: row;
                    margin-left: 26px;
                }

                .filters {
                    display: flex;
                    flex-direction: column;
                    margin-right: 24px;
                }

                .filters-first {
                    margin-right: 35px;
                }

                .checkbox {
                    position: relative;
                    height: 0;
                }

                .checkbox-input {
                    display: none;
                }

                .checkbox-label::before {
                    border: 1px solid $nevada;
                    background-color: #fff;
                    content: "";
                    width: 13px;
                    height: 13px;
                    bottom: 4px;
                    left: -17px;
                    position: absolute;
                    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
                    cursor: pointer;
                }

                .checkbox-input:checked +
                .checkbox-label::before {
                    content: "\2713";
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                    font-size: 11px;
                    color: $nevada;
                    text-align: center;
                    line-height: 13px;
                }
            }

            .form-group{
                padding: 0 8px;
                margin: 0;
            }
            .has-success .form-control {
                border: 1px solid #4dbd74 !important;
                @include transition(all, 0.2s, linear);
                border-left: 5px solid #4dbd74 !important;
                &:focus {
                    box-shadow: none;
                }
            }

            .has-danger .form-control {
                border: 1px solid #f86c6b;
                @include transition(all, 0.2s, linear);
                border-left: 5px solid #f86c6b;
                &:focus {
                    box-shadow: none;
                }
            }

            span.input_label-star {
                color: #ff0012;
            }

            input {
                border-radius: 5px;
                padding: 10px;
                height: 40px;
            }

            .from-input {

                &__label {
                    font-weight: 600;
                    color: #aac5cf;
                    margin-bottom: .3rem;
                    font-size: 14px;
                }
            }

            .error {
                border-color: red;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 15, 0.6);
            }
        }
    }

    &__input {
        padding: 0 10%;
    }
}
